@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.view {
    width: 100%;
    height: 100%;
    @include flex('center','center');
    background: linear-gradient(175deg, #6fa0ce, #6862b6, #2d3e6d);
}

.login {
    width: 350px;
    height: 570px;
    padding: 30px 50px;
    background-color: rgba(144, 169, 248, .3);
    display: none;
    flex-flow: column;
    border-radius: 5px;

    &_show {
        @include flex('between','center');
    }

    &__logo {
        width: 150px;
        height: 150px;
    }

    &__form {
        width: 100%;

        &-item {
            position: relative;
            padding: 15px 10px;
            @include flex('','top');
            flex-flow: column;

            span {
                color: #fff;
                padding: 5px;
                font-size: 18px;
            }

            &-input {
                color: #fff;
                padding: 10px;
                width: calc(100% - 20px);
                font-size: 15px;
                outline: none;
                border: 0;
                background-color: rgba(0,0,0,0);
                border-bottom: 1px solid #fff;

                &_error {
                    border-bottom: 1px solid red;
                }
            }

            &-error {
                position: absolute;
                top: 55px;
                right: 10px;
                font-size: 12px;
                color: red;
                display: none;

                &_show {
                    display: block;
                }
            }
        }
    }

    &__button {
        width: 100%;
        flex-wrap: wrap;
        @include flex('between','center');

        &_center {
            @include flex('center','center');
        }

        &-input {
            width: 43%;
            height: 40px;
            border: 0px;
            margin: 10px;
            color: #fff;
            font-size: 18px;
            outline: none;
            cursor: pointer;
            background-color:#2d3e6d;

            &:hover {
                opacity: .5;
            }

            &:active {
               opacity: .7;
            }

            &_none {
              background-color: #636363;
              pointer-events: none;  
            }

            &_google {
                background-color: #F05E1C;

                &:hover {
                    background-color: #ED784A;
                }

                &:active {
                    background-color: #F75C2F;
                }
            }

            &_line {
                background-color: #00b900;

                &:hover {
                    background-color: #A8D8B9;
                }

                &:active {
                    background-color: #1B813E;
                }
            }
        }
    }
}
