﻿
@{
    ViewBag.title = "Adminlogin";
    Layout = "~/Views/Shared/dannyBackend/_MachineBackendLoginLayout.cshtml";
}

@section main{
    <div class="login__title">
        <p>販賣機管理登入</p>
    </div>
    <div class="login__input">
        <input id="idText" name="adminname" type="text" placeholder="請輸入帳號" autofocus onfocus="keyboard(this.id)">
    </div>
    <div class="login__input">
        <input id="passwardText" name="adminpass" type="password" placeholder="請輸入密碼" onfocus="keyboard(this.id)">
    </div>
    <div class="login__button">

        <button type="button" onclick="Auth();">登入</button>
        <button type="button" onclick="location.href = '/';">取消</button>
        <!--<button type="button" onclick="forget();">忘記密碼</button>-->
    </div>
    <section class="popup" id="FirstAuth">
        <div class="popup-message">
            <span class="login login__input">
                <input id="EmailText" name="adminemail" type="email" placeholder="請輸入信箱" autofocus onfocus="keyboard(this.id)">
            </span>
            <div class="popup-box">
                <buttom class="popup-box__button" onclick="$('.popup').removeClass('popup_show')">取消</buttom>
                <buttom class="popup-box__button popup-box__button_send" onclick="location.href='/Backend/openPass'">確認</buttom>
            </div>
        </div>
    </section>
}

@section script{
    <script>
        function Auth() {
            var datas = new FormData();
            datas.append('adminname', $("input[name='adminname']").val());
            datas.append('adminpass', $("input[name='adminpass']").val());
            datas.append('csrf', $("input[name='csrf']").val());
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Backend/Auth', true);
            xhr.onload = function () {
                respoce = JSON.parse(this.responseText);
                if (respoce.token == "401") {
                    alert(respoce.message);
                } else if (respoce.token == "301") {
                    if (respoce.First) {
                        location.href = "/Backend/Index";
                    } else {
                        location.href = "/Backend/Index";
                    }
                    
                }
            };
            xhr.send(datas);
        }
        
    </script>
}

