﻿
@{
    ViewBag.Title = "Controllist";
    Layout = "~/Views/Shared/dannyBackend/_MachineBackendListLayout.cshtml";
}
@section style{
    <link href="~/Content/include/evm/danny/private/control-list.css" rel="stylesheet" />
}
@section main{
    <p class="grid-list__long-txt" hidden></p>
    <div class="control">
        <div class="top">
            <div class="top__title">
                <p>機器編號:@ViewData["vmnum"] 功能列表</p>
            </div>
        </div>
        <ul class="middle">
            <div class="scrollbar-macosx">
                <ol class="middle__item">
                    <li class="middle__item-option middle__item-option_none">
                        <i class="fas fa-warehouse"></i>
                        <p>貨艙設定</p>
                    </li>
                    <li onclick="location.href='/Backend/Lanset'" class="middle__item-option">
                        <i class="fas fa-road"></i>
                        <p>貨道設定</p>
                    </li>
                    <li class="middle__item-option middle__item-option_none">
                        <i class="fas fa-object-group"></i>
                        <p>貨道和合併設定</p>
                    </li>
                    <li class="middle__item-option middle__item-option_none">
                        <i class="fab fa-amazon-pay"></i>
                        <p>支付設定</p>
                    </li>
                </ol>
                <ol class="middle__item middle__item_right">
                    <li class="middle__item-option" onclick="location.href = '/Backend/MachineProlist?layer=1';">
                        <i class="fas fa-cookie"></i>
                        <p >機器商品設定</p>
                    </li>
                    <li class="middle__item-option middle__item-option_none">
                        <i class="fas fa-running"></i>
                        <p>跑馬燈設定</p>
                    </li>
                    <li class="middle__item-option middle__item-option_none">
                        <i class="fas fa-toggle-on"></i>
                        <p onclick="location.href = '/Backend/Fillup2';" >一鍵設定</p>
                    </li>
                    <li class="middle__item-option middle__item-option_none">
                        <i class="fas fa-infinity"></i>
                        <p onclick="location.href = '/Backend/Fillup2';">指定數量一鍵補滿</p>
                    </li>
                </ol>
            </div>
        </ul>
    </div>
}


@section script{
    <script>
        $('.scrollbar-macosx').scrollbar();
    </script>

}

