﻿
@{
    ViewBag.Title = "貨道管理系統登入";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

@section main
{
    <form action="/Backend/Loginauth" id="form" name="form" method="post" class="login">
        <img class="login__logo" src="~/images/pic/backendlogo.png">
        <ul class="login__form">
            <li class="login__form-item">
                <span>編號：</span>
                <input type="text" id="taxId" name="taxId" class="login__form-item-input">
                <p class="login__form-item-error" id="taxIdAlert">統一編號不可為空白</p>
            </li>
            <li class="login__form-item">
                <span>帳號：</span>
                <input type="text" id="userName" name="userName" class="login__form-item-input">
                <p class="login__form-item-error" id="usernameAlert">帳號不可為空白</p>
            </li>
            <li class="login__form-item">
                <span>密碼：</span>
                <input type="text" id="userPassword" name="userPassword" class="login__form-item-input">
                <p class="login__form-item-error" id="passwordAlert">密碼不可為空白</p>
            </li>
        </ul>
        <input type="text" id="csrf" name="csrf" hidden value="@Session["csrf"]" />
        <div class="login__button">
            <input type="button" value="Sing In" class="login__button-input" onclick="poster()">
            <input type="button" value="Sing Up" class="login__button-input login__button-input_green">
            <input type="button" value="Google綁定" class="login__button-input login__button-input_google">
            <input type="button" value="Line綁定" class="login__button-input login__button-input_line">
        </div>
    </form>

}

