﻿@using weiddeson2.Models;
@{
    ViewBag.Title = "商品庫-首頁";
    Layout = "~/Views/Shared/dannyBackend/_MachineBackendListLayout.cshtml";
    int count = 0;

    foreach (Vmsort vmsort in ViewBag.vmsort)
    {
        count++;
    }
}
@section style{
    <link href="~/Content/include/evm/danny/private/warehouse.css" rel="stylesheet" />
}
@@section mains{
<p class="grid-list__long-txt" hidden></p>
<div class="view">
    <div class="top">
        <div class="top-title">
            <p>機器商品庫清單</p>
        </div>
        <nav class="top-nav">
            <select name="road_layer" id="road_layer" onchange="selectRoad();" class="top-nav__select">
                <option value="">
                    All </ option >
                    @foreach (Vmsort vmsort in ViewBag.vmsort)
                    {
                    <option value="@vmsort.big_sort_id" @(vmsort.big_sort_id == @Convert.ToInt32(ViewData["nowSort"].ToString()) ? "selected" : "")>@vmsort.sort_name</option>
                }
                </select>
                <button onclick="location.href='/Backend/Productinsert'">
                    添加商品 </ button >
                    < !--< button onclick="$('.popup').addClass('popup_show')">雲端下載
                </button>-->
            </nav>
        </div>
        <ul class="middle">
            <div class="scrollbar-macosx">
                @foreach (Mainproduct mainproduct in ViewBag.product)
                {
                    <li class="middle__item">
                        <img src="~/images/pic/Product/@mainproduct.pic" alt="@mainproduct.pdname">
                        <p class="middle__item-txt middle__item-txt_color">@mainproduct.pdname</p>
                        <p class="middle__item-txt">@(mainproduct.unit_price) 元</p>
                        <p class="middle__item-txt" onclick="location.href='/Backend/Productedit?id=@mainproduct.id'" style="background-color:#f98f45;color:white;"><i class="far fa-edit"></i></p>
                        <p class="middle__item-txt" onclick="$('.delete').addClass('popup_show'); $('#deletepro').val('@mainproduct.id');" style="background-color:#ee3f4d;color:white;"><i class="fas fa-trash-alt"></i></p>
                    </li>
                }
            </div>
        </ul>
    </div>
    <section class="popup">

        <div class="popup-message">

            <span>
                注意:雲端下載功能將會複寫本地端商品庫資料，請確認您要繼續操作。
            </span>
            <div class="popup-box">

                <buttom class="popup-box__button" onclick="$('.popup').removeClass('popup_show'); $('#deletepro').val('');">
                    取消 </ buttom >

                    <buttom class="popup-box__button popup-box__button_send" onclick="location.href = '/Backend/cloudToLocal' "> 確認 </ buttom >

            </div>

        </div>

    </section>

    <input type="number" hidden id="deletepro" />

    <section class="popup delete">

        <div class="popup-message">

            <span>
                注意:商品資料即將刪除，請謹慎操作。
            </span>
            <div class="popup-box">

                <buttom class="popup-box__button" onclick="$('.popup').removeClass('popup_show')">
                    取消 </ buttom >

                    <buttom class="popup-box__button popup-box__button_send" onclick="location.href='/Backend/Productdelete/'+ $('#deletepro').val()"> 確認 </ buttom >

            </div>

        </div>

    </section>
    }

    @section main
{
        <input type="text" id="deletepro" hidden name="deletepro" />
        <p class="grid-list__long-txt" hidden></p>
        <div class="view">
            <div class="top">
                <div class="top-title">
                    <p>機器商品庫清單</p>
                </div>
                <nav class="top-nav">
                    <select name="road_layer" id="road_layer" onchange="selectRoad();" class="top-nav__select">
                        <option value="">All</option>
                        @foreach (Vmsort vmsort in ViewBag.vmsort)
                        {
                            <option value="@vmsort.big_sort_id" @(vmsort.big_sort_id == @Convert.ToInt32(ViewData["nowSort"].ToString()) ? "selected" : "")>@vmsort.sort_name</option>
                        }
                    </select>
                    <button onclick="location.href='/Backend/Productinsert'">添加商品</button>
                    <!--<button onclick="$('.popup').addClass('popup_show')">雲端下載</button>-->
                </nav>
            </div>
            <div class="middle">
                <ul class="middle-list">
                    <li class="middle-list__title">
                        <div>
                            <p>編號</p>
                        </div>
                        <div>
                            <p>商品圖片</p>
                        </div>
                        <div>
                            <p>商品名稱</p>
                        </div>
                        <div>
                            <p>成本</p>
                        </div>
                        <div>
                            <p>售價</p>
                        </div>
                        <div>
                            <p>庫存</p>
                        </div>
                        <div>
                            <p>刪除</p>
                        </div>
                        <div>
                            <p>設定</p>
                        </div>
                    </li>
                    <ol class="middle-list__content">
                        <div class="scrollbar-macosx">
                            @foreach (Mainproduct mainproduct in ViewBag.product)
                            {
                                <li class="middle-list__content-item">
                                    <div>
                                        <p>@mainproduct.id</p>
                                    </div>
                                    <div>
                                        <img src="~/images/pic/Product/@mainproduct.pic" alt="@mainproduct.pdname">
                                    </div>
                                    <div>
                                        <p>@mainproduct.pdname</p>
                                    </div>
                                    <div>
                                        <p>@(mainproduct.cost_price)元</p>
                                    </div>
                                    <div>
                                        <p>@(mainproduct.unit_price)元</p>
                                    </div>
                                    <div>
                                        <p>@mainproduct.amount</p>
                                    </div>
                                    <div>
                                        <i style="color:white;background-color:#ee3f4d;border:none" onclick="$('.delete').addClass('popup_show'); $('#deletepro').val('@mainproduct.id');" class="fas fa-trash-alt popup-box__button"></i>
                                    </div>
                                    <div>
                                        <i style="color:white;background-color:#f98f45;border:none" onclick="location.href='/Backend/Productedit?id=@mainproduct.id'" class="fas fa-cog popup-box__button"></i>
                                    </div>
                                </li>
                            }
                        </div>
                        <!-- 以下是沒有資料時顯示的,有先用display: none; -->
                        <div @(count == 0 ? "style='display:block';" : "") class="middle-list__content-none-data">尚無資料，請新增內容</div>
                    </ol>
                </ul>
            </div>
            <ul class="phone">
                <div class="phone__list">
                    @foreach (Mainproduct mainproduct in ViewBag.product)
                    {
                        <li class="phone__list-item">
                            <div class="phone__list-item-content phone__list-item-content_img">
                                <img src="./image/dairy-products.svg" alt="">
                            </div>
                            <div class="phone__list-item-content">
                                <div class="phone__list-item-content-title">
                                    <p>編號</p>
                                </div>
                                <div class="phone__list-item-content-thing">
                                    <p>@mainproduct.id</p>
                                </div>
                            </div>
                            <div class="phone__list-item-content">
                                <div class="phone__list-item-content-title">
                                    <p>商品名稱</p>
                                </div>
                                <div class="phone__list-item-content-thing">
                                    <p>@mainproduct.pdname</p>
                                </div>
                            </div>
                            <div class="phone__list-item-content">
                                <div class="phone__list-item-content-title">
                                    <p>成本</p>
                                </div>
                                <div class="phone__list-item-content-thing">
                                    <p>@(mainproduct.cost_price)元</p>
                                </div>
                            </div>
                            <div class="phone__list-item-content">
                                <div class="phone__list-item-content-title">
                                    <p>售價</p>
                                </div>
                                <div class="phone__list-item-content-thing">
                                    <p>@(mainproduct.unit_price)元</p>
                                </div>
                            </div>
                            <div class="phone__list-item-content">
                                <div class="phone__list-item-content-title">
                                    <p>庫存</p>
                                </div>
                                <div class="phone__list-item-content-thing">
                                    <p>@mainproduct.amount</p>
                                </div>
                            </div>
                            <div class="phone__list-item-content">
                                <div class="phone__list-item-content-set">
                                    <i style="color:white;background-color:#ee3f4d;border:none" onclick="$('.delete').addClass('popup_show'); $('#deletepro').val('@mainproduct.id');" class="fas fa-trash-alt popup-box__button"></i>
                                </div>
                                <div class="phone__list-item-content-set">
                                    <i style="color:white;background-color:#f98f45;border:none" onclick="location.href='/Backend/Productedit?id=@mainproduct.id'" class="fas fa-cog popup-box__button"></i>
                                </div>
                            </div>
                        </li>
                    }
                </div>
                <!-- 以下是沒有資料時顯示的,有先用display: none; -->
                <div @(count == 0 ? "style='display:block';" : "") class="phone__none-data">尚無資料，請新增內容</div>
            </ul>
        </div>
        <section class="popup delete">
            <div class="popup-message">
                <span>
                    注意:商品資料即將刪除，請謹慎操作。
                </span>
                <div class="popup-box">
                    <buttom class="popup-box__button" onclick="$('.popup').removeClass('popup_show')">
                        取消 </buttom >
                    <buttom class="popup-box__button popup-box__button_send" onclick="location.href = '/Backend/Productdelete/' + $('#deletepro').val()"> 確認 </buttom >
                </div>
            </div>
        </section>
    }

    @section script{
        <script>
            $('.scrollbar-macosx').scrollbar();

            function selectRoad() {
                if ($('#road_layer').val() == "") {
                    location.href = "/Backend/Productlist";
                } else {
                    location.href = "/Backend/Productlist?sort=" + $('#road_layer').val();
                }
            }
        </script>

    }
