﻿@using weiddeson2.Models;
@{
    ViewBag.Title = "銷售報表";
    Layout = "~/Views/Shared/dannyBackend/_MachineBackendListLayout.cshtml";

    DateTime date1 = DateTime.Now;

    int num = 0;
    int count = 0;

    foreach (salseOrder salse in ViewBag.salse)
    {
        num++;
        count += salse.unit_price;
    }
}
@section style{
    <script src="~/Scripts/include/evm/danny/public/datedropper.pro.min.js"></script>
    <link href="~/Content/include/evm/danny/public/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/include/evm/danny/private/sales-record.css" rel="stylesheet" />
}

@section main{
    <p class="grid-list__long-txt" hidden></p>
    <div class="view">
        <div class="top">
            <div class="top-title">
                <p>銷售紀錄</p>
                <label for="" class="top__title_lable" style="position:absolute;margin-left:250px;">
                    <input type="text" id="date" value="" placeholder="請選擇起始日期" data-dd-roundtrip="my-trip">

                </label>
                <i class="far fa-calendar-alt" onclick="$('#date').click();" style="color: #78c2c4; position: absolute; margin-left: 445px;"></i>
                <label for="" style="position:absolute;margin-left:485px;">
                    <input type="text" id="Edate" style="margin-left:10px;" placeholder="請選擇結束日期" data-dd-roundtrip="my-trip" />

                </label>
                <i class="far fa-calendar-alt" onclick="$('#Edate').click();" style="color:#78c2c4;position: absolute;margin-left:700px;"></i>
                <i class="fas fa-search" style="color: #78c2c4;position:absolute;margin-left:735px;" onclick="location.href = '/Backend/salesReport?start=' + $('#date').val() + '&end=' + $('#Edate').val();"></i>
            </div>
            <div class="top-nav">
                <div class="top-nav__item">
                    <p>機器編號:@Session["vm_num"]</p>

                </div>
                <div class="top-nav__item">
                    <p>交易總金額:@count</p>
                    <p>交易總筆數:@num</p>
                    <p>銷售結算區間:                    <i onclick="$('#info').addClass('popup_show');" class="fas fa-info-circle"></i></p>
                </div>
            </div>
        </div>
        <div class="middle">
            <ul class="middle-list">
                <li class="middle-list__title">
                    <div>
                        <p>交易號碼</p>
                    </div>
                    <div>
                        <p>商品名稱</p>
                    </div>
                    <div>
                        <p>收錢</p>
                    </div>
                    <div>
                        <p>售價</p>
                    </div>
                    <div>
                        <p>找錢</p>
                    </div>
                    <div>
                        <p>交易時間</p>
                    </div>
                    <div>
                        <p>交易模式</p>
                    </div>
                    <div>
                        <p>交易狀態</p>
                    </div>
                </li>
                <ol class="middle-list__content">
                    <div class="scrollbar-macosx">
                        @foreach (salseOrder salse in ViewBag.salse)
                        {
                            <li class="middle-list__content-item">
                                <div title="@salse.ordernum">
                                    <p>@salse.ordernum</p>
                                </div>
                                <div>
                                    <p>@salse.pdname</p>
                                </div>
                                <div>
                                    <p>@(salse.cash_in)元</p>
                                </div>
                                <div>
                                    <p>@(salse.unit_price)元</p>
                                </div>
                                <div>
                                    <p>@(salse.cash_out)元</p>
                                </div>
                                <div title="@salse.datetime">
                                    <p>@salse.datetime</p>
                                </div>
                                <div>
                                    <p>@salse.pay_type</p>
                                </div>
                                <div>
                                    <p>@salse.status</p>
                                </div>
                            </li>
                        }
                    </div>
                </ol>
            </ul>
        </div>
        <ul class="phone">
            <div class="phone__list scrollbar-macosx">
                @foreach (salseOrder salse1 in ViewBag.salse)
                {
                    <li class="phone__list-item">
                        <div class="phone__list-item-content">
                            <div class="phone__list-item-content-title">
                                <p>交易號碼</p>
                            </div>
                            <div class="phone__list-item-content-thing">
                                <p>@salse1.ordernum</p>
                            </div>
                        </div>
                        <div class="phone__list-item-content">
                            <div class="phone__list-item-content-title">
                                <p>商品名稱</p>
                            </div>
                            <div class="phone__list-item-content-thing">
                                <p>@salse1.pdname</p>
                            </div>
                        </div>
                        <div class="phone__list-item-content">
                            <div class="phone__list-item-content-title">
                                <p>收錢</p>
                            </div>
                            <div class="phone__list-item-content-thing">
                                <p>@(salse1.cash_in)元</p>
                            </div>
                        </div>
                        <div class="phone__list-item-content">
                            <div class="phone__list-item-content-title">
                                <p>售價</p>
                            </div>
                            <div class="phone__list-item-content-thing">
                                <p>@(salse1.unit_price)元</p>
                            </div>
                        </div>
                        <div class="phone__list-item-content">
                            <div class="phone__list-item-content-title">
                                <p>找錢</p>
                            </div>
                            <div class="phone__list-item-content-thing">
                                <p>@(salse1.cash_out)元</p>
                            </div>
                        </div>
                        <div class="phone__list-item-content">
                            <div class="phone__list-item-content-title">
                                <p>交易時間</p>
                            </div>
                            <div class="phone__list-item-content-thing">
                                <p>@salse1.datetime</p>
                            </div>
                        </div>
                        <div class="phone__list-item-content">
                            <div class="phone__list-item-content-title">
                                <p>交易模式</p>
                            </div>
                            <div class="phone__list-item-content-thing">
                                <p>@salse1.pay_type</p>
                            </div>
                        </div>
                        <div class="phone__list-item-content">
                            <div class="phone__list-item-content-title">
                                <p>交易狀態</p>
                            </div>
                            <div class="phone__list-item-content-thing">
                                <p>@salse1.status</p>
                            </div>
                        </div>
                    </li>
                }
            </div>
        </ul>
    </div>
    <section class="popup" id="info">
        <div class="popup-message">
            <span>
                <p>開始日期:<label id="start">dddd</label></p><span></span>
                <p style="margin-top:3px;">結束日期:<label id="end"></label></p><span></span>
            </span>
            <div class="popup-box">
                <buttom class="popup-box__button" onclick="$('.popup').removeClass('popup_show')">取消</buttom>
            </div>
        </div>
    </section>
}

@section script{
    <script>
        $('document').ready(function () {
            var getUrlString = location.href;

            var url = new URL(getUrlString);

            $('#date').val(url.searchParams.get('start') == null ? '@(date1.ToString("yyyy/MM/dd"))' : url.searchParams.get('start'));
            $('#Edate').val(url.searchParams.get('end'));

            $('#start').text(url.searchParams.get('start') == null ? '@(date1.ToString("yyyy/MM/dd"))' : url.searchParams.get('start'));
            $('#end').text(url.searchParams.get('end') == null ? '@(date1.ToString("yyyy/MM/dd"))' : url.searchParams.get('end'));

        });
        $('.scrollbar-macosx').scrollbar();

        $('input').dateDropper({
            format: "Y/m/d",
            large: true,
            color: "#66BAB7",
            roundtrip: "my-trip",
        });
            /*$('#date').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            onSelect: function () {

            }

        });

        $('#date').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY/MM/DD'));
            $('#Edate').val(picker.endDate.format('YYYY/MM/DD'));
            location.href = '/Backend/salesReport?start=' + $(this).val() + '&end=' + $('#Edate').val();
        });

        $('#Edate').on('cancel.daterangepicker', function (ev, picker) {

        });*/

    </script>
}


