@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.form {
    padding: 30px 50px;
    height: calc(100% - 60px);

    &-flex {
        @include flex(center,'');

        @include screen(pad) {
            flex-flow: column;
            @include flex(center,center);
        }
    }

    &-img {
        width: calc(30% - 20px);
        text-align: center;
        display: block;
        overflow: hidden;
        flex-flow: column;
        box-sizing: border-box;
        @include flex('',center);
        margin-bottom: 50px;

        @include screen(pad) {
            width: 50%;
        }

        @include screen(mobile) {
            width: 100%;
        }

        img {
            width: 200px;
            height: 200px;
            margin-bottom: 15px;
        }

        input[type="file"] {
            border: 1px solid #838383;
            border-radius: 5px;
            padding: 10px;
            width: 198px;
        }
    }

    &-list {
        width: 70%;
        max-width: 1080px;
        padding: 0 30px;

        @include screen(pad) {
            padding: 0;
            width: 100%;
        }

        .list-title {
            width: calc(100% - 60px);
            @include flex('',center);
        
            @include screen(mobile) {
                flex-flow: column;
                @include flex('',top);
            }

            &__item {
                @include flex('',center);
                margin-bottom: 30px;
                margin-right: 10px;

                &-option {
                    @include screen(mobile) {
                        width: 120px;

                        &:last-child {
                            width: calc(100% - 120px);
                        }
                    }

                    p {
                        color: #535353;
                        font-size: 18px;
                        padding-right: 20px;

                        @include screen(mini-pad) {
                            font-size: 16px;
                        }
                    }

                    select {
                        width: 100%;
                        height: 40px;
                        font-size: 16px;
                        outline: none;
                        padding: 0 10px;
                        color: #535353;

                        @include screen(mini-pad) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .list-content {
            width: 100%;

            &__item {
                @include flex(between,center);
                margin-bottom: 50px;
                flex-wrap: wrap;

                @include screen(mobile) {
                    &_phone {
                        flex-flow: column;
                        @include flex('',top);
                        margin: 0px;
                    }
                }
                
                &-option {
                    width: 120px;

                    @include screen(mobile) {
                        width: 100px;
                    }

                    &_width {
                        width: calc(100% - 120px);

                        @include screen(mobile) {
                            width: calc(100% - 100px);
                        }
                    }

                    select {
                        width: 100%;
                        padding: 8px;
                        outline: none;
                        border-radius: 5px;
                        font-size: 16px;
                        color: #535353;

                        @include screen(mini-pad) {
                            font-size: 14px;
                        }
                    }

                    p {
                        color: #535353;
                        font-size: 18px;
                        padding-right: 20px;

                        @include screen(mini-pad) {
                            font-size: 16px;
                        }
                    }

                    &-input {
                        width: calc(100% - 32px);
                        padding: 8px 15px;
                        outline: none;
                        border-radius: 5px;
                        font-size: 16px;
                        color: #535353;
                        border: 1px solid #838383;

                        @include screen(mini-pad) {
                            font-size: 14px;
                        }

                        &_error {
                            border: 1px solid #ff0000 !important;
                        }
                    }
                }

                &-box {
                    @include flex('',center);
                    width: 30%;

                    @include screen(mobile) {
                        width: 100%;
                        margin-bottom: 50px;
                    }

                    &-option {
                        width: 60px;

                        &_width {
                            width: calc(100% - 60px);
                        }

                        p {
                            color: #535353;
                            font-size: 18px;

                            @include screen(mini-pad) {
                                font-size: 16px;
                            }
                        }

                        &-input {
                            width: calc(100% - 20px);
                            border-radius: 5px;
                            padding: 8px 10px;
                            outline: none;
                            font-size: 15px;
                            color: #535353;
                            border: 1px solid #838383;

                            @include screen(mini-pad) {
                                font-size: 16px;
                            }

                            &_error {
                                border: 1px solid #ff0000;
                            }
                        }
                    }
                }
            }
        }
    }

    &-button {
        width: 100%;
        @include flex(center,center);
        margin-bottom: 50px;

        &__option {
            width: 30%;
            outline: none;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
            background-color: #12bbad;
            border: 1px solid #12bbad;
            color: #fff;
            font-size: 18px;
            cursor: pointer;

            @include screen(mini-pad) {
                font-size: 16px;
            }
            

            &:hover {
                background-color: #B5CAA0;
                color: #fff;
            }

            &:active {
                background-color: #86C166;
                color: #fff;
            }

            &_close {
                background-color: #fff;
                border: 1px solid #12bbad;
                margin-right: 30px;
                color: #12bbad;
            }
        }
    }
}