@font-face {
  font-family: 'gjgxp_r';
  src: url("../../font/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("../../font/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.form {
  padding: 30px 50px;
  height: calc(100% - 60px);
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  .form-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-img {
  width: calc(30% - 20px);
  text-align: center;
  display: block;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .form-img {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .form-img {
    width: 100%;
  }
}

.form-img img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.form-img input[type="file"] {
  border: 1px solid #838383;
  border-radius: 5px;
  padding: 10px;
  width: 198px;
}

.form-list {
  width: 70%;
  max-width: 1080px;
  padding: 0 30px;
}

@media screen and (max-width: 900px) {
  .form-list {
    padding: 0;
    width: 100%;
  }
}

.form-list .list-title {
  width: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .form-list .list-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.form-list .list-title__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .form-list .list-title__item-option {
    width: 120px;
  }
  .form-list .list-title__item-option:last-child {
    width: calc(100% - 120px);
  }
}

.form-list .list-title__item-option p {
  color: #535353;
  font-size: 18px;
  padding-right: 20px;
}

@media screen and (max-width: 780px) {
  .form-list .list-title__item-option p {
    font-size: 16px;
  }
}

.form-list .list-title__item-option select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  outline: none;
  padding: 0 10px;
  color: #535353;
}

@media screen and (max-width: 780px) {
  .form-list .list-title__item-option select {
    font-size: 14px;
  }
}

.form-list .list-content {
  width: 100%;
}

.form-list .list-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .form-list .list-content__item_phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px;
  }
}

.form-list .list-content__item-option {
  width: 120px;
}

@media screen and (max-width: 500px) {
  .form-list .list-content__item-option {
    width: 100px;
  }
}

.form-list .list-content__item-option_width {
  width: calc(100% - 120px);
}

@media screen and (max-width: 500px) {
  .form-list .list-content__item-option_width {
    width: calc(100% - 100px);
  }
}

.form-list .list-content__item-option select {
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: #535353;
}

@media screen and (max-width: 780px) {
  .form-list .list-content__item-option select {
    font-size: 14px;
  }
}

.form-list .list-content__item-option p {
  color: #535353;
  font-size: 18px;
  padding-right: 20px;
}

@media screen and (max-width: 780px) {
  .form-list .list-content__item-option p {
    font-size: 16px;
  }
}

.form-list .list-content__item-option-input {
  width: calc(100% - 32px);
  padding: 8px 15px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: #535353;
  border: 1px solid #838383;
}

@media screen and (max-width: 780px) {
  .form-list .list-content__item-option-input {
    font-size: 14px;
  }
}

.form-list .list-content__item-option-input_error {
  border: 1px solid #ff0000 !important;
}

.form-list .list-content__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

@media screen and (max-width: 500px) {
  .form-list .list-content__item-box {
    width: 100%;
    margin-bottom: 50px;
  }
}

.form-list .list-content__item-box-option {
  width: 60px;
}

.form-list .list-content__item-box-option_width {
  width: calc(100% - 60px);
}

.form-list .list-content__item-box-option p {
  color: #535353;
  font-size: 18px;
}

@media screen and (max-width: 780px) {
  .form-list .list-content__item-box-option p {
    font-size: 16px;
  }
}

.form-list .list-content__item-box-option-input {
  width: calc(100% - 20px);
  border-radius: 5px;
  padding: 8px 10px;
  outline: none;
  font-size: 15px;
  color: #535353;
  border: 1px solid #838383;
}

@media screen and (max-width: 780px) {
  .form-list .list-content__item-box-option-input {
    font-size: 16px;
  }
}

.form-list .list-content__item-box-option-input_error {
  border: 1px solid #ff0000;
}

.form-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.form-button__option {
  width: 30%;
  outline: none;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: #12bbad;
  border: 1px solid #12bbad;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .form-button__option {
    font-size: 16px;
  }
}

.form-button__option:hover {
  background-color: #B5CAA0;
  color: #fff;
}

.form-button__option:active {
  background-color: #86C166;
  color: #fff;
}

.form-button__option_close {
  background-color: #fff;
  border: 1px solid #12bbad;
  margin-right: 30px;
  color: #12bbad;
}
/*# sourceMappingURL=add-and-edit-comodity.css.map */