@font-face {
  font-family: 'gjgxp_r';
  src: url("../../font/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("../../font/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.form {
  padding: 30px 50px;
  height: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-list {
  width: 100%;
  max-width: 1080px;
}

.form-list .scrollbar-macosx {
  height: 100%;
}

.form-list__item {
  width: calc(100% - 20px);
  height: 60px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .form-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: auto;
    padding: 0;
  }
  .form-list__item:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.form-list__item-title {
  width: 30%;
}

.form-list__item-title p {
  font-size: 20px;
  color: #535353;
  padding: 0 20px;
}

@media screen and (max-width: 500px) {
  .form-list__item-title p {
    padding: 10px 0;
    text-align: center;
    color: #fff;
  }
}

@media screen and (max-width: 500px) {
  .form-list__item-title {
    width: 100%;
    background-color: #12bbad;
    border-radius: 5px;
  }
}

.form-list__item-option {
  width: 70%;
}

@media screen and (max-width: 500px) {
  .form-list__item-option {
    width: 100%;
  }
}

.form-list__item-option select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  outline: none;
  padding: 0 10px;
  color: #535353;
}

@media screen and (max-width: 500px) {
  .form-list__item-option select {
    font-size: 16px;
    margin: 20px 0;
  }
}

.form-list__item-option-txt {
  font-size: 15px !important;
  padding: 8px 0;
}

@media screen and (max-width: 500px) {
  .form-list__item-option-txt {
    padding: 5px 0 !important;
    text-align: left !important;
    margin-top: -18px;
  }
}

.form-list__item-option p {
  font-size: 20px;
  color: #535353;
}

@media screen and (max-width: 500px) {
  .form-list__item-option p {
    padding: 20px 0;
    text-align: center;
  }
}

.form-list__item-option input[type='button'] {
  width: 30%;
  padding: 18px 0;
  height: 60px;
  text-align: center;
  outline: none;
  border: 0px;
  background-color: #12bbad;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.form-list__item-option input[type='button']:hover {
  background-color: #B5CAA0;
}

.form-list__item-option input[type='button']:active {
  background-color: #86C166;
}

.form-list__item-option-math {
  outline: none;
  text-align: center;
  width: 30%;
  height: 56px;
  margin: 0 20px;
  border-radius: 5px;
  border: 1px solid #838383;
  font-size: 18px;
}

.form-list__item-option-math_error {
  border-color: #ff0000;
}

.form-list__item-option_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .form-list__item-option_flex {
    padding: 20px 0;
  }
}

.form-list__item_top {
  padding-top: 20px;
}

.form-list__item-button {
  width: 100px;
  height: 60px;
  cursor: pointer;
  background-color: #12bbad;
  outline: none;
  border-radius: 5px;
  border: 0px;
  font-size: 20px;
  color: #fff;
}

.form-list__item-button:hover {
  background-color: #B5CAA0;
}

.form-list__item-button:active {
  background-color: #86C166;
}

.form-list__item-button_cancel {
  margin: 0 10px;
  background-color: #DDA52D;
}

@media screen and (max-width: 500px) {
  .form-list__item-button_cancel {
    margin: 0;
    margin-right: 10px;
  }
}

.button__disabled {
    background-color: gray;
    cursor: not-allowed;
}
/*# sourceMappingURL=add-products.css.map */