@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.view {
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #5DAC81, #A8D8B9, #FAD689);
    position: relative;
    @include flex(center,center)
}

.login {
    width: 500px;
    height: 300px;
    padding: 30px 50px;
    background-color: #fff;
    @include flex(center,center);
    flex-flow: column;
    box-shadow: 1px 1px 8px 5px #838383;
    border-radius: 5px;

    &__title {
        text-align: center;
        margin-bottom: 30px;

        p {
            font-size: 40px;
            color: #636363;

            @include screen(mobile) {
                font-size: 30px;
            }
        }
    }

    &__input {
        width: 100%;
        margin-bottom: 20px;

        input[type='text'], input[type='password'] {
            display: block;
            width: calc(100% - 20px);
            height: 30px;
            padding: 5px 10px;
            font-size: 16px;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 5px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            outline: none;
        }
    }

    &__button {
        button {
            width: 80px;
            height: 50px;
            background-color: #12bbad;
            border-radius: 5px;
            color: #fff;
            margin-right: 10px;
            outline: none;
            border: 0px;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: #B5CAA0;
            }

            &:active {
                background-color: #86C166;
            }

        }
    }
}

.keyboard {
    position: absolute;
    background: #ffffff;
    border-radius: 5px;
    top: 440px;
    z-index: 9999;
    width: 90%;
    height: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.5);
    user-select: none;

    &__title {
        width: 100%;
        height: 20%;
        border-bottom: 1px solid #dcdddd;
        padding: 0;
        cursor: move;
        font-size: 18px;
        color: #838383;
        @include flex(center,center);

        &-keyboard {
            width: 80%;
            text-align: center;
            float: left;
        }

        &-close {
            width: 10%;
            float: right;
            text-align: center;
            @include flex(center,center);

            p {
                cursor: pointer;
            }
        }
    }

    &__content {
        width: 100%;
        height: 80%;

        &-item {
            @include flex(center, center);
            height: 25%;

            &-txt {
                width: 10%;
                height: 100%;
                border-bottom: 1px solid #dcdddd;
                border-left: 1px solid #dcdddd;
                @include flex(center,center);
                
                p {
                    color: #838383;
                    font-size: 18px;
                }

                img {
                    width: 20px;
                    height: 20px;
                }

                &:first-child {
                    border-left: 0px;
                }

                &:active {
                    box-shadow:0px 0px 10px #AAAAAA inset;
                }
            }

            &_last {
                .keyboard__content-item-txt:last-child {
                    width: 20%;
                    border-bottom: 0px;
                }
            }
        }
    }
}
