@font-face {
  font-family: 'gjgxp_r';
  src: url("../../font/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("../../font/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.view {
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #5DAC81, #A8D8B9, #FAD689);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  width: 500px;
  height: 300px;
  padding: 30px 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 1px 1px 8px 5px #838383;
          box-shadow: 1px 1px 8px 5px #838383;
  border-radius: 5px;
}

.login__title {
  text-align: center;
  margin-bottom: 30px;
}

.login__title p {
  font-size: 40px;
  color: #636363;
}

@media screen and (max-width: 500px) {
  .login__title p {
    font-size: 30px;
  }
}

.login__input {
  width: 100%;
  margin-bottom: 20px;
}

.login__input input[type='text'], .login__input input[type='password'] {
  display: block;
  width: calc(100% - 20px);
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  outline: none;
}

.login__button button {
  width: 80px;
  height: 50px;
  background-color: #12bbad;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  outline: none;
  border: 0px;
  cursor: pointer;
  font-size: 16px;
}

.login__button button:hover {
  background-color: #B5CAA0;
}

.login__button button:active {
  background-color: #86C166;
}

.keyboard {
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  top: 440px;
  z-index: 9999;
  width: 90%;
  height: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.keyboard__title {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #dcdddd;
  padding: 0;
  cursor: move;
  font-size: 18px;
  color: #838383;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard__title-keyboard {
  width: 80%;
  text-align: center;
  float: left;
}

.keyboard__title-close {
  width: 10%;
  float: right;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard__title-close p {
  cursor: pointer;
}

.keyboard__content {
  width: 100%;
  height: 80%;
}

.keyboard__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
}

.keyboard__content-item-txt {
  width: 10%;
  height: 100%;
  border-bottom: 1px solid #dcdddd;
  border-left: 1px solid #dcdddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard__content-item-txt p {
  color: #838383;
  font-size: 18px;
}

.keyboard__content-item-txt img {
  width: 20px;
  height: 20px;
}

.keyboard__content-item-txt:first-child {
  border-left: 0px;
}

.keyboard__content-item-txt:active {
  -webkit-box-shadow: 0px 0px 10px #AAAAAA inset;
          box-shadow: 0px 0px 10px #AAAAAA inset;
}

.keyboard__content-item_last .keyboard__content-item-txt:last-child {
  width: 20%;
  border-bottom: 0px;
}
/*# sourceMappingURL=earmark-fill-up.css.map */