@font-face {
  font-family: 'gjgxp_r';
  src: url("../../font/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("../../font/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 290px;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.header-icon {
  width: 30px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: none;
  margin-right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .header-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-icon p {
    height: 3px;
    width: 100%;
    background-color: #12bbad;
    border-radius: 3px;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.header-icon_show p:nth-child(1) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateY(0px) rotate(35deg);
          transform: translateY(0px) rotate(35deg);
}

.header-icon_show p:nth-child(2) {
  opacity: 0;
}

.header-icon_show p:nth-child(3) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateY(0px) rotate(-36deg);
          transform: translateY(0px) rotate(-36deg);
}

.header__name {
  display: block;
  padding: 0px 30px;
}

.header__name span {
  color: #12bbad;
  font-size: 30px;
  font-family: 'gjgxp_r';
}

@media screen and (max-width: 500px) {
  .header__name span {
    font-size: 20px;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .header-right {
    display: none;
  }
}

.header-right__item {
  padding: 10px 30px;
}

.header-right__item i {
  display: block;
  font-size: 20px;
  cursor: pointer;
}

.header-right__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
}

.header-right__user p {
  font-size: 18px;
  font-family: 'gjgxp_r';
  padding-left: 10px;
}

.pad-list {
  width: 100%;
  height: 0;
  background-color: #fff;
  position: absolute;
  top: 60px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 5;
}

.pad-list_show {
  height: calc(100% - 60px);
}

.pad-list__ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.pad-list__ul-item {
  width: 100%;
  padding: 30px 0px;
}

.pad-list__ul-item-box {
  width: 100%;
  height: 100%;
}

.pad-list__ul-item_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pad-list__ul-item_flex p, .pad-list__ul-item_flex i {
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .pad-list__ul-item_flex p, .pad-list__ul-item_flex i {
    padding: 10px;
    font-size: 18px;
  }
}

.pad-list__ul-item_flex p:active, .pad-list__ul-item_flex i:active {
  color: #12bbad;
}

.pad-list__ul-item-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  position: relative;
  margin: auto;
  cursor: pointer;
}

.pad-list__ul-item-select p {
  text-align: center;
  color: #636363;
  font-size: 30px;
  font-family: 'gjgxp_b';
}

.pad-list__ul-item-select i {
  position: absolute;
  right: -20px;
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 500px) {
  .pad-list__ul-item-select p, .pad-list__ul-item-select i {
    font-size: 18px;
  }
  .pad-list__ul-item-select i {
    right: 0;
  }
}

.pad-list__ul-item-select_open i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pad-list__ul-item-list {
  height: 0;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.pad-list__ul-item-list-option {
  cursor: pointer;
}

.pad-list__ul-item-list-option p {
  text-align: center;
  padding: 15px 0px;
  color: #12bbad;
}

.pad-list__ul-item-list-option:active p {
  color: #36563C;
}

.pad-list__ul-item-list_show {
  height: 460px;
}

.nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #12bbad;
  padding: 0 30px;
}

.nav i {
  color: #fff;
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

.nav span {
  font-size: 20px;
  font-family: 'gjgxp_b';
  color: #fff;
}

@media screen and (max-width: 500px) {
  .nav span {
    font-size: 18px;
  }
}

.body {
  height: calc(100% - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-left {
  display: block;
  background-color: #12bbad;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 900px) {
  .body-left {
    display: none;
  }
}

.body-left_width {
  margin-left: -180px;
}

.body-left_none {
  display: none;
}

.body-left .left-button {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  background-color: #000;
  display: block;
  border-radius: 0px 5px 5px 0px;
  padding: 15px 0;
  color: #fff;
  cursor: pointer;
  margin-left: 180px;
  width: 20px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .body-left .left-button {
    display: none;
  }
}

.body-left .left-list {
  overflow: hidden;
}

.body-left .left-list__item {
  padding: 20px 0;
}

.body-left .left-list__item-select {
  padding: 10px 40px;
  cursor: pointer;
  width: 100px;
}

.body-left .left-list__item-select p {
  font-family: 'gjgxp_r';
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.body-left .left-list__item-list {
  background-color: #36563C;
  display: block;
  overflow: hidden;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.body-left .left-list__item-list-option {
  display: block;
  overflow: hidden;
  padding: 10px 40px;
  cursor: pointer;
}

.body-left .left-list__item-list-option p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.body-left .left-list__item-list-option:hover {
  background-color: #A8D8B9;
  opacity: .3;
}

.body-left .left-list__item-list-option:active {
  background-color: #5B622E;
  opacity: .7;
}

.body-left .left-list__item-list_show {
  height: 120px;
}

.body-right {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=head-and-nav.css.map */