@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    width: 100%;
    height: 100%;
    min-width: 290px;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.header {
    height: 60px;
    @include flex(between, center);
    z-index: 5;

    &-icon {
        width: 30px;
        height: 20px;
        flex-flow: column;
        display: none;
        margin-right: 15px;
        cursor: pointer;

        @include screen(pad) {
            @include flex(between, '');

            p {
                height: 3px;
                width: 100%;
                background-color: #12bbad;
                border-radius: 3px;
                transition: .5s;
            }
        }

        &_show {
            p:nth-child(1) {
                transform-origin: left;
                transform: translateY(0px) rotate(35deg);
            }

            p:nth-child(2) {
                opacity: 0;
            }

            p:nth-child(3) {
                transform-origin: left;
                transform: translateY(0px) rotate(-36deg);
            }
        }
    }

    &__name {
        display: block;
        padding: 0px 30px;

        span {
            color:#12bbad;
            font-size: 30px;
            font-family: 'gjgxp_r';

            @include screen(mobile) {
                font-size: 20px;
            }
        }
    }

    &-right {
        @include flex(between, center);

        @include screen(pad) {
            display: none;
        }

        &__item {
            padding: 10px 30px;

            i {
                display: block;
                font-size: 20px;
                cursor: pointer;
            }
        }

        &__user {
            @include flex(center, center);
            padding: 10px 30px;

            p {
                font-size: 18px;
                font-family: 'gjgxp_r';
                padding-left: 10px;
            }
        }
    }
}

.pad-list {
    width: 100%;
    height: 0;
    background-color: #fff;
    position: absolute;
    top: 60px;
    overflow: hidden;
    transition: .5s;
    z-index: 5;

    &_show {
        height: calc(100% - 60px);
    }

    &__ul {
        width: 100%;
        height: 100%;
        @include flex('','center');
        flex-flow: column;

        &-item {
            width: 100%;
            padding: 30px 0px;

            &-box {
                width: 100%;
                height: 100%;
            }

            &_flex {
                @include flex(center, center);

                p, i {
                    padding: 15px;
                    font-size: 30px;
                    cursor: pointer;
                }

                @include screen(mobile) {
                    p,i {
                        padding: 10px;
                        font-size: 18px;
                    }
                }
                
                p, i {
                    &:active {
                        color: #12bbad;
                    }
                }
            }

            &-select {
                @include flex(center,'');
                width: 120px;
                position: relative;
                margin: auto;
                cursor: pointer;

                p {
                    text-align: center;
                    color: #636363;
                    font-size: 30px;
                    font-family: 'gjgxp_b';
                }

                i {
                    position: absolute;
                    right: -20px;
                    font-size: 20px;
                    transition: .5s;
                }

                @include screen(mobile) {
                    p,i {
                        font-size: 18px;
                    }

                    i {
                        right: 0;
                    }
                }

                &_open {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }

            &-list {
                height: 0;
                transition: .5s;
                overflow: hidden;

                &-option {
                    cursor: pointer;

                    p {
                        text-align: center;
                        padding: 15px 0px;
                        color: #12bbad;
                    };

                    &:active {
                        p {
                            color: #36563C;
                        }
                    }
                }

                &_show {
                    height: 460px;
                }
            }
        }
    }
}

.nav {
    height: 60px;
    @include flex('', center);
    background-color: #12bbad;
    padding: 0 30px;

    i {
        color: #fff;
        font-size: 20px;
        margin-right: 30px;
        cursor: pointer;
        display: none;
    }

    span {
        font-size: 20px;
        font-family: 'gjgxp_b';
        color: #fff;

        @include screen(mobile) {
            font-size: 18px;
        }
    }
}

.body {
    height: calc(100% - 120px);
    @include flex('','');

    &-left {
        display: block;
        background-color: #12bbad;
        transition: .3s;
        position: relative;
        z-index: 5;

        @include screen(pad) {
            display: none;
        }

        &_width {
            margin-left: -180px;

        }

        &_none {
            display: none;
        }

        .left-button {
            transition: .3s;
            position: absolute;
            background-color: #000;
            display: block;
            border-radius: 0px 5px 5px 0px;
            padding: 15px 0;
            color: #fff;
            cursor: pointer;
            margin-left: 180px;
            width: 20px;
            text-align: center;

            @include screen(pad) {
                display: none;
            }
        }

        .left-list {
            overflow: hidden;

            &__item {
                padding: 20px 0;

                &-select {
                    padding: 10px 40px;
                    cursor: pointer;
                    width: 100px;

                    p {
                        font-family: 'gjgxp_r';
                        color: #fff;
                        font-size: 20px;
                        line-height: 20px;
                    }
                }

                &-list {
                    background-color: #36563C;
                    display: block;
                    overflow: hidden;
                    height: 0;
                    transition: .3s;

                    &-option {
                        display: block;
                        overflow: hidden;
                        padding: 10px 40px;
                        cursor: pointer;

                        p {
                            color: #fff;
                            font-size: 15px;
                            line-height: 20px;
                        }

                        &:hover {
                            background-color: #A8D8B9;
                            opacity: .3;
                        }

                        &:active {
                            background-color: #5B622E;
                            opacity: .7;
                        }
                    }

                    &_show {
                        height: 400px;
                    }
                }
            }
        }
    }

    &-right {
        width: 100%;
        box-sizing: border-box;
    }
}

iframe {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}