@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.grid {
    width: 100%;
    height: 100%;

    .scrollbar-macosx {
        width: 100%;
        height: 100%;
    }

    &-box {
        margin: 0 30px;
        height: 100%;
        @include flex(center,center);
        flex-flow: column;

        @include screen(pad) {
            margin: 20px;
        }
    }

    &-total {
        width: 260px;
        height: 260px;
        box-shadow: 1px 1px 5px 3px #838383;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        transition: .3s;

        @include screen(mobile) {
            width: calc(100% - 40px);
        }

        p {
            font-size: 30px;

            &:nth-child(1) {
                padding: 10px;
            }

            &:nth-child(2) {
                font-size: 90px;
                padding: 20px;
                line-height: 160px;
                font-family: 'gjgxp_b';

                @include screen(laptop) {
                    font-size: 60px;
                }

                @include screen(mobile) {
                    font-size: 50px;
                }
            }
        }
    }

    &-list {
        padding-left: 20px;
        width: calc(100% - 310px);
        margin: 30px;

        @include screen(pad) {
            // width: calc(100% - 60px);
            width: 100%;
            padding: 0;
        }
            

        &__long {
            width: 100%;
            height: 50px;
            background-color: #12bbad;
            border-radius: 5px;
            text-align: center;

            &-txt {
                line-height: 50px;
                color: #fff;
                padding: 0 25px;
                font-size: 22px;
                letter-spacing: 1vpx;

                @include screen(mobile) {
                    font-size: 18px;
                }
            }
        }

        &__box {
            @include flex(between, center);
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            transition: .3s;

            @media screen and (max-width: 1600px) {
                justify-content: space-evenly;
            }

            &-item {
                width: 15%;
                box-shadow: 1px 1px 5px 3px #838383;
                border-radius: 5px;
                padding: 10px 10px;
                text-align: center;
                height: 170px;
                min-width: 140px;
                margin: 20px 15px;

                @include screen(mobile) {
                    width: 100%;
                    margin: 20px 0;
                }

                p {
                    font-size: 18px;
                    color: #fff;

                    &:nth-child(1) {
                        padding: 15px 0;
                    }

                    &:nth-child(2) {
                        font-size: 50px;
                        padding: 10px;
                        line-height: 80px;
                        font-family: 'gjgxp_b';
                    }
                }

                &_blue-1 {
                    background-color: #005CAF;
                }

                &_blue-2 {
                    background-color:#006284;
                }

                &_blue-3 {
                    background-color: #1E88A8;
                }

                &_blue-4 {
                    background-color: #81C7D4;
                }

                &_blue-5 {
                    background-color: #A5DEE4;
                }
            }
        }
    }
}