@font-face {
  font-family: 'gjgxp_r';
  src: url("../../font/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("../../font/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.lane {
  padding: 0 30px;
  height: 100%;
}

.top {
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .top {
    padding: 30px 0;
  }
}

.top-title {
  background-color: #e9ecef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-title button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #dc3545;
  cursor: pointer;
  border: 0px;
  outline: none;
  margin-right: 20px;
  color: #fff;
  font-size: 16px;
}

.top-title button:hover {
  opacity: .5;
}

.top-title button:active {
  opacity: .8;
}

@media screen and (max-width: 500px) {
  .top-title button {
    font-size: 15px;
    width: 80px;
  }
}

.top-title p {
  color: #636363;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .top-title p {
    font-size: 15px;
  }
}

.top-nav {
  margin-top: 20px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav__select {
  width: 150px;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border-color: #838383;
  font-size: 15px;
  margin-right: 20px;
}

.middle {
  padding: 0 30px;
  height: calc(100% - 195px);
  display: block;
}

@media screen and (max-width: 900px) {
  .middle {
    display: none;
  }
}

.middle-list {
  width: 100%;
  height: 100%;
}

.middle-list__title {
  background-color: #12bbad;
  padding: 15px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-list__title div {
  text-align: center;
}

.middle-list__title div p {
  color: #fff;
  font-size: 20px;
}

.middle-list__title div:nth-child(1) {
  width: 8%;
}

.middle-list__title div:nth-child(2) {
  width: 13%;
}

.middle-list__title div:nth-child(3) {
  width: 13%;
}

.middle-list__title div:nth-child(4) {
  width: 18%;
}

.middle-list__title div:nth-child(5) {
  width: 13%;
}

.middle-list__title div:nth-child(6) {
  width: 13%;
}

.middle-list__title div:nth-child(7) {
  width: 13%;
}

.middle-list__content {
  height: calc(100% - 50px);
  overflow: hidden;
  width: 100%;
}

.middle-list__content .scrollbar-macosx {
  height: 100%;
}

.middle-list__content-item {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-list__content-item div {
  text-align: center;
}

.middle-list__content-item div p {
  font-size: 18px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.middle-list__content-item div:nth-child(1) {
  width: 8%;
}

.middle-list__content-item div:nth-child(2) {
  width: 13%;
}

.middle-list__content-item div:nth-child(3) {
  width: 13%;
}

.middle-list__content-item div:nth-child(4) {
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-list__content-item div:nth-child(5) {
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-list__content-item div:nth-child(5) p {
  padding: 10px;
  color: #ff0000;
}

.middle-list__content-item div:nth-child(5) i {
  color: #12bbad;
  cursor: pointer;
}

.middle-list__content-item div:nth-child(5) i:hover {
  color: #B5CAA0;
}

.middle-list__content-item div:nth-child(5) i:active {
  color: #86C166;
}

.middle-list__content-item div:nth-child(6) {
  width: 13%;
}

.middle-list__content-item div:nth-child(6) i {
  color: #12bbad;
  cursor: pointer;
  font-size: 20px;
}

.middle-list__content-item div:nth-child(6) i:hover {
  color: #B5CAA0;
}

.middle-list__content-item div:nth-child(6) i:active {
  color: #86C166;
}

.middle-list__content-item div:nth-child(7) {
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.many-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 40px;
  background-color: #d8d8d8;
  cursor: pointer;
  position: relative;
  border: 1px solid #d8d8d8;
}

.many-label:first-child {
  border-radius: 10px 0 0 10px;
}

.many-label:last-child {
  border-radius: 0 10px 10px 0;
}

.many-label input {
  display: none;
}

.many-label input[type="radio"]:checked + .many-label__option {
  border: 1px solid  #12bbad;
  background-color: #12bbad;
  color: #fff;
}

.many-label input[type="radio"]:checked + .many-label__option_left {
  border-radius: 10px 0 0 10px;
}

.many-label input[type="radio"]:checked + .many-label__option_right {
  border-radius: 0 10px 10px 0;
}

.many-label__option {
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 40px;
  z-index: 5;
  color: #636363;
  -webkit-transition: .1s;
  transition: .1s;
  font-size: 16px;
}

.many-label__option:hover {
  opacity: .5;
}

.many-label__option:active {
  opacity: .8;
}

.select-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px 0 0 50px;
  background-color: #9c9a9a;
  cursor: pointer;
  position: relative;
  border: 1px solid #9c9a9a;
}

.select-label:last-child {
  border-radius: 0 50px 50px 0;
}

.select-label input {
  display: none;
}

.select-label input[type="radio"]:checked + .select-label__option {
  color: #fff;
  background-color: #12bbad;
  border-color: #12bbad;
}

.select-label input[type="radio"]:checked + .select-label__option_off {
  color: #636363;
  background-color: #fff;
  border-color: #12bbad;
}

.select-label__option {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 12px;
  line-height: 50px;
  z-index: 5;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid  #9c9a9a;
}

.select-label__option:hover {
  opacity: .5;
}

.select-label__option:active {
  opacity: .8;
}

.phone {
  padding: 0 30px;
  height: calc(100% - 195px);
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 900px) {
  .phone {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .phone {
    padding: 0;
  }
}

.phone__list {
  padding: 0px 20px;
  height: 100%;
}

.phone__list-item {
  border: 1px solid #838383;
  margin: 10px 10px;
}

.phone__list-item-content {
  width: 100%;
  border-bottom: 1px solid #838383;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__list-item-content-title {
  width: 30%;
  text-align: center;
  padding: 20px 0;
  border-right: 1px solid #838383;
  background-color: #12bbad;
}

.phone__list-item-content-title p {
  color: #fff;
}

.phone__list-item-content-thing {
  width: 70%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__list-item-content-thing p {
  color: #838383;
}

.phone__list-item-content-thing_red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__list-item-content-thing_red p {
  color: #ff0000;
  padding: 0 10px;
}

.phone__list-item-content-thing_red i {
  color: #12bbad;
  cursor: pointer;
}

.phone__list-item-content-thing_red i:hover {
  color: #B5CAA0;
}

.phone__list-item-content-thing_red i:active {
  color: #86C166;
}

.phone__list-item-content-set {
  width: 50%;
  text-align: center;
  padding: 10px 0;
}

.phone__list-item-content-set p, .phone__list-item-content-set i {
  color: #12bbad;
  font-size: 30px;
  cursor: pointer;
}

.phone__list-item-content-set p:hover, .phone__list-item-content-set i:hover {
  color: #B5CAA0;
}

.phone__list-item-content-set p:active, .phone__list-item-content-set i:active {
  color: #86C166;
}

.phone__list-item-content-set_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #636363;
}

.phone__list-item-content:last-child {
  border-bottom: 0px;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.popup_show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.popup-message {
  width: 300px;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.popup-message i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.popup-message span {
  display: block;
  font-size: 20px;
  color: #dc3545;
  padding-top: 10px;
}
/*# sourceMappingURL=lane-merge-set.css.map */