@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.product {
    padding: 0 30px;
    height: 100%;

    .top {
        padding: 30px;

        @include screen(mobile) {
            padding:  30px 0 ;
        }

        &-title {
            background-color: #e9ecef;

            p {
                color: #636363;
                padding: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &-nav {
            margin-top: 20px;
            padding: 0 20px;
            @include flex('', center);

            &__select {
                width: 100px;
                height: 50px;
                outline: none;
                border-radius: 5px;
                border-color: #838383;
                font-size: 15px;
                margin-right: 20px;
            }

            button {
                width: 100px;
                height: 50px;
                background-color: #12bbad;
                outline: none;
                border-radius: 5px;
                border: 0px;
                color: #fff;
                font-size: 18px;
                cursor: pointer;

                &:hover {
                    background-color: #B5CAA0;
                }

                &:active {
                    background-color: #86C166;
                }
            }
        }
    }

    .middle {
        padding: 0 30px;
        height: calc(100% - 186px);
        display: block;

        @include screen(pad) {
            display: none;
        }

        &-list {
            width: 100%;
            height: 100%;

            &__title {
                background-color: #12bbad;
                padding: 15px 20px;
                border-radius: 5px;
                @include flex(between, center);

                div {
                    text-align: center;

                    p {
                        color:#fff;
                    }

                    &:nth-child(1) {
                        width: 5%;
                    }

                    &:nth-child(2) {
                        width: 9%;
                    }

                    &:nth-child(3) {
                        width: 9%;
                    }

                    &:nth-child(4) {
                        width: 9%;
                    }

                    &:nth-child(5) {
                        width: 9%;
                    }

                    &:nth-child(6) {
                        width: 13%;
                    }

                    &:nth-child(7) {
                        width: 9%;
                    }

                    &:nth-child(8) {
                        width: 13%;
                    }

                    &:nth-child(9) {
                        width: 9%;
                    }

                    &:nth-child(10) {
                        width: 9%;
                    }

                    &:nth-child(11) {
                        width: 5%;
                    }
                }
            }

            &__content {
                height: calc(100% - 46px);
                overflow: hidden;
                width: 100%;

                .scrollbar-macosx {
                    height: 100%;
                }

                &-none-data {
                    width: 100%;
                    height: 100%;
                    background-color: #f3f3f3;
                    @include flex(center,center);
                    color: #000;
                    font-size: 30px;
                    font-family: 'gjgxp_r';
                }

                &-item {
                    padding: 15px 20px;
                    @include flex(between, center);

                    div {
                        text-align: center;

                        p {
                            color:#000;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
    
                        &:nth-child(1) {
                            width: 5%;
                        }
    
                        &:nth-child(2) {
                            width: 9%;

                            img {
                                width: 60px;
                                height: 60px;
                                background-color: #636363;
                            }
                        }
    
                        &:nth-child(3) {
                            width: 9%;
                        }
    
                        &:nth-child(4) {
                            width: 9%;
                        }
    
                        &:nth-child(5) {
                            width: 9%;
                        }
    
                        &:nth-child(6) {
                            width: 13%;
                        }
    
                        &:nth-child(7) {
                            width: 9%;
                        }
    
                        &:nth-child(8) {
                            width: 13%;
                        }
    
                        &:nth-child(9) {
                            width: 9%;
                            @include flex(center,center);

                            p {
                                padding: 10px;
                                color: #ff0000;
                            }

                            i {
                                color: #12bbad;
                                cursor: pointer;

                                &:hover {
                                    color: #B5CAA0;
                                }
        
                                &:active {
                                    color: #86C166;
                                }
                            }
                        }
    
                        &:nth-child(10) {
                            width: 9%;

                            p {
                                color: #12bbad;
                                cursor: pointer;

                                &:hover {
                                    color: #B5CAA0;
                                }
        
                                &:active {
                                    color: #86C166;
                                }
                            }
                        }
    
                        &:nth-child(11) {
                            width: 5%;

                            i {
                                color: #12bbad;
                                cursor: pointer;

                                &:hover {
                                    color: #B5CAA0;
                                }
        
                                &:active {
                                    color: #86C166;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .phone {
        padding: 0 30px;
        height: calc(100% - 186px);
        display: none;

        @include screen(pad) {
            display: block;
        }

        @include screen(mobile) {
           padding: 0;
        }

        &__none-data {
            width: 100%;
            height: 100%;
            background-color: #f3f3f3;
            @include flex(center,center);
            color: #000;
            font-size: 20px;
            font-family: 'gjgxp_r';
        }

        &__list {
            padding: 0px 20px;
            height: 100%;

            &-item {
                border: 1px solid #838383;
                margin: 10px 0;

                &-content {
                    width: 100%;
                    border-bottom: 1px solid #838383;
                    @include flex(center,center);

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    &_img {
                        padding: 10px 0;
                    }

                    &-title {
                        width: 30%;
                        text-align: center;
                        padding: 10px 0;
                        border-right: 1px solid #838383;
                        background-color: #12bbad;

                        p {
                            color: #fff;
                        }
                    }

                    &-thing {
                        width: 70%;
                        text-align: center;

                        p {
                            color: #838383;
                        }

                        &_red {
                            @include flex(center, center);

                            p {
                                color: #ff0000;
                                padding: 0 10px;
                            }

                            i {
                                color: #12bbad;
                                cursor: pointer;

                                &:hover {
                                    color: #B5CAA0;
                                }
        
                                &:active {
                                    color: #86C166;
                                }
                            }
                        }
                    }

                    &-set {
                        width: 50%;
                        text-align: center;
                        padding: 10px 0;

                        p,i {
                            color: #12bbad;
                            cursor: pointer;

                            &:hover {
                                color: #B5CAA0;
                            }
    
                            &:active {
                                color: #86C166;
                            }
                        }
                    }

                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
}