@font-face {
  font-family: 'gjgxp_r';
  src: url("../../font/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("../../font/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.view {
  padding: 0 30px;
  height: 100%;
}

.top {
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .top {
    padding: 30px 0;
  }
}

.top-title {
  background-color: #e9ecef;
  padding: 15px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .top-title {
    display: block;
  }
}

.top-title p {
  color: #636363;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .top-title p {
    font-size: 20px;
  }
}

.top-title__label {
  width: 120px;
  margin:auto;
}

.top-title__label_end {
    width: 120px;
   padding-right:10px;
}

#date, #Edate {
    display: block;
    width: calc(100% - 20px);
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    outline: none;
}

/*@media screen and (max-width: 500px) {
  .top-title__label,.top-title__label_end {
    position: relative;
    left: 0px;
    margin-top: 10px;
  }
}

.top-title__label i {
  color: #12bbad;
}

.top-title__label input {
  cursor: pointer;
  border: 1px solid #838383;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  color: #636363;
  outline: none;
  border: 0px;
  width: 100%;
}*/

.top-title__label_end i {
    position: absolute;
    right: 10px;
    color: #12bbad;
}

.top-title__label_end input {
    cursor: pointer;
    border: 1px solid #838383;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #636363;
    outline: none;
    border: 0px;
    width: 100%;
}


.top-nav {
  background-color: #a51717;
  padding: 15px 0px 15px 20px;
  margin-top: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 580px) {
  .top-nav {
    display: block;
  }
}

.top-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .top-nav__item {
    display: block;
  }
  .top-nav__item:last-child {
    margin-left: 30px;
  }
  .top-nav__item p:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 580px) {
  .top-nav__item {
    margin-bottom: 10px;
  }
  .top-nav__item:last-child {
    margin: 0px;
  }
}

.top-nav p {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  padding-right: 15px;
}

@media screen and (max-width: 500px) {
  .top-nav p {
    font-size: 15px;
  }
}

.middle {
  padding: 0 30px;
  height: calc(100% - 173px);
  display: block;
}

@media screen and (max-width: 900px) {
  .middle {
    display: none;
  }
}

.middle-list {
  width: 100%;
  height: 100%;
}

.middle-list__title {
  background-color: #12bbad;
  padding: 15px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-list__title div {
  text-align: center;
}

.middle-list__title div p {
  color: #fff;
  font-size: 20px;
}

.middle-list__title div:nth-child(1) {
  width: 16%;
  text-align: left;
}

.middle-list__title div:nth-child(2) {
  width: 12%;
}

.middle-list__title div:nth-child(3) {
  width: 8%;
}

.middle-list__title div:nth-child(4) {
  width: 8%;
}

.middle-list__title div:nth-child(5) {
  width: 8%;
}

.middle-list__title div:nth-child(6) {
  width: 16%;
  text-align: left;
}

.middle-list__title div:nth-child(7) {
  width: 16%;
}

.middle-list__title div:nth-child(8) {
  width: 12%;
}

.middle-list__content {
  height: calc(100% - 50px);
  overflow: hidden;
  width: 100%;
}

.middle-list__content .scrollbar-macosx {
  height: 100%;
}

.middle-list__content-item {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c5c5c5;
}

.middle-list__content-item:last-child {
  border: 0px;
}

.middle-list__content-item div {
  text-align: center;
}

.middle-list__content-item div p {
  font-size: 18px;
  line-height: 18px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.middle-list__content-item div:nth-child(1) {
  width: 16%;
  text-align: left;
}

.middle-list__content-item div:nth-child(2) {
  width: 12%;
}

.middle-list__content-item div:nth-child(3) {
  width: 8%;
}

.middle-list__content-item div:nth-child(4) {
  width: 8%;
}

.middle-list__content-item div:nth-child(5) {
  width: 8%;
}

.middle-list__content-item div:nth-child(6) {
  width: 16%;
  text-align: left;
}

.middle-list__content-item div:nth-child(7) {
  width: 16%;
}

.middle-list__content-item div:nth-child(8) {
  width: 12%;
}

.phone {
  padding: 0 30px;
  height: 100%;
  display: none;
}

@media screen and (max-width: 900px) {
  .phone {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .phone {
    padding: 0;
  }
}

.phone__list {
  padding: 0px 20px;
  height: 100%;
}

.phone__list-item {
  border: 1px solid #838383;
  margin: 0px 10px 20px 10px;
}

.phone__list-item-content {
  width: 100%;
  border-bottom: 1px solid #838383;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__list-item-content:last-child {
  border: 0;
}

.phone__list-item-content-title {
  width: 30%;
  text-align: center;
  padding: 20px 0;
  border-right: 1px solid #838383;
  background-color: #12bbad;
}

.phone__list-item-content-title p {
  color: #fff;
}

.phone__list-item-content-thing {
  width: 70%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

.phone__list-item-content-thing p {
  color: #838383;
}

.phone__list-item-content-thing_red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__list-item-content-thing_red p {
  color: #ff0000;
  padding: 0 10px;
}

.phone__list-item-content-thing_red i {
  color: #12bbad;
  cursor: pointer;
}

.phone__list-item-content-thing_red i:hover {
  color: #B5CAA0;
}

.phone__list-item-content-thing_red i:active {
  color: #86C166;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: /*rgba(0, 0, 0, 0.3)*/ transparent;
    position: absolute;
    top: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}

#amount, #product {
    display: block;
    width: calc(100% - 20px);
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    outline: none;
}

.popup_show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.popup-message {
    margin-right: 320px;
    width: 300px;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 5px;
    position: relative;
    box-shadow: 5px 5px 7px #bbbbbb;
}

    .popup-message i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .popup-message span {
        display: block;
        font-size: 20px;
        color: #dc3545;
        padding-top: 10px;
    }

.popup-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.popup-box__button {
    width: 60px;
    border: 1px solid #12bbad;
    color: #12bbad;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
}

.popup-box__button_send {
    background-color: #12bbad;
    color: #fff;
    margin-left: 10px;
}

.popup-box__button:hover {
    opacity: .5;
}

.popup-box__button:active {
    opacity: .7;
}

/*# sourceMappingURL=sales-record.css.map */