@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.view {
    padding: 0 30px;
    height: 100%;
}

.top {
    padding: 30px;

    @include screen(mobile) {
        padding:  30px 0 ;
    }

    &-title {
        background-color: #e9ecef;
        padding: 15px 20px;

        p {
            color: #636363;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 25px;

            @include screen(mobile) {
                font-size: 20px;
            }
        }
    }

    &-nav {
        margin-top: 20px;
        padding: 0 20px;
        @include flex('', center);

        &__select {
            width: 100px;
            height: 50px;
            outline: none;
            border-radius: 5px;
            border-color: #838383;
            font-size: 15px;
            margin-right: 20px;
        }

        button {
            width: 100px;
            height: 50px;
            background-color: #12bbad;
            outline: none;
            border-radius: 5px;
            border: 0px;
            color: #fff;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                background-color: #B5CAA0;
            }

            &:active {
                background-color: #86C166;
            }
        }
    }
}

.middle {
    padding: 0 30px;
    height: calc(100% - 186px);
    display: block;

    @include screen(pad) {
        display: none;
    }

    &-list {
        width: 100%;
        height: 100%;

        &__title {
            background-color: #12bbad;
            padding: 15px 20px;
            border-radius: 5px;
            @include flex(between, center);

            div {
                text-align: center;

                p {
                    color:#fff;
                }

                &:nth-child(1) {
                    width: 12%;
                }

                &:nth-child(2) {
                    width: 12%;
                }

                &:nth-child(3) {
                    width: 12%;
                }

                &:nth-child(4) {
                    width: 12%;
                }

                &:nth-child(5) {
                    width: 12%;
                }

                &:nth-child(6) {
                    width: 12%;
                }

                &:nth-child(7) {
                    width: 12%;
                }

                &:nth-child(8) {
                    width: 12%;
                }
            }
        }

        &__content {
            height: calc(100% - 46px);
            overflow: hidden;
            width: 100%;

            .scrollbar-macosx {
                height: 100%;
            }

            &-none-data {
                width: 100%;
                height: 100%;
                background-color: #f3f3f3;
                @include flex(center,center);
                color: #000;
                font-size: 30px;
                font-family: 'gjgxp_r';
                display: none;
            }

            &-item {
                padding: 15px 20px;
                @include flex(between, center);
                border-bottom: 1px solid #c5c5c5;

                &:last-child {
                    border: 0px;
                }

                div {
                    text-align: center;

                    p {
                        color:#000;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &:nth-child(1) {
                        width: 12%;
                    }

                    &:nth-child(2) {
                        width: 12%;

                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    &:nth-child(3) {
                        width: 12%;
                    }

                    &:nth-child(4) {
                        width: 12%;
                    }

                    &:nth-child(5) {
                        width: 12%;
                    }

                    &:nth-child(6) {
                        width: 12%;
                    }

                    &:nth-child(7) {
                        width: 12%;
                        
                        i {
                            color: #12bbad;
                            cursor: pointer;

                            &:hover {
                                color: #B5CAA0;
                            }
    
                            &:active {
                                color: #86C166;
                            }
                        }
                    }

                    &:nth-child(8) {
                        width: 12%;

                        i {
                            color: #12bbad;
                            cursor: pointer;

                            &:hover {
                                color: #B5CAA0;
                            }
    
                            &:active {
                                color: #86C166;
                            }
                        }
                    }
                }
            }
        }
    }
}

.phone {
    padding: 0 30px;
    height: calc(100% - 186px);
    display: none;

    @include screen(pad) {
        display: block;
    }

    @include screen(mobile) {
       padding: 0;
    }

    &__none-data {
        width: 100%;
        height: 100%;
        background-color: #f3f3f3;
        @include flex(center,center);
        color: #000;
        font-size: 20px;
        font-family: 'gjgxp_r';
        display: none;
    }

    &__list {
        padding: 0px 20px;
        height: 100%;

        &-item {
            border: 1px solid #838383;
            margin: 0px 10px 20px 10px;

            &-content {
                width: 100%;
                border-bottom: 1px solid #838383;
                @include flex(center,center);

                img {
                    width: 100px;
                    height: 100px;
                }

                &_img {
                    padding: 10px 0;
                }

                &-title {
                    width: 30%;
                    text-align: center;
                    padding: 10px 0;
                    border-right: 1px solid #838383;
                    background-color: #12bbad;

                    p {
                        color: #fff;
                    }
                }

                &-thing {
                    width: 70%;
                    text-align: center;

                    p {
                        color: #838383;
                    }
                }

                &-set {
                    width: 50%;
                    text-align: center;
                    padding: 10px 0;

                    p,i {
                        color: #12bbad;
                        cursor: pointer;

                        &:hover {
                            color: #B5CAA0;
                        }

                        &:active {
                            color: #86C166;
                        }
                    }
                }

                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, .3);
    position: absolute;
    top: 0;
    z-index: 10;
    @include flex(center, center);
    display: none;

    &_show {
        display: flex !important;
    }

    &-message {
        width: 300px;
        padding: 50px;
        background-color: #fff;
        border-radius: 5px;
        position: relative;

        i {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            cursor: pointer;
        }

        span {
            display: block;
            font-size: 20px;
            color: #dc3545;
            padding-top: 10px;
        }
    }

    &-box {
        @include flex(center, center);
        margin-top: 10px;

        &__button {
            width: 60px;
            border: 1px solid #12bbad;
            color: #12bbad;
            text-align: center;
            border-radius: 3px;
            padding: 10px 0;
            cursor: pointer;

            &_send {
                background-color: #12bbad;
                color: #fff;
                margin-left: 10px;
            }

            &:hover {
                opacity: .5;
            }

            &:active {
                opacity: .7;
            }
        }
    }
}