@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.view {
    padding: 0 30px;
    height: 100%;
}

.top {
    padding: 30px;

    @include screen(mobile) {
        padding:  30px 0 ;
    }

    &-title {
        background-color: #e9ecef;
        @include flex(between, center);
        padding: 10px 20px;

        p {
            color: #636363;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 20px;

            @include screen(mobile) {
                font-size: 15px;
            }
        }
    }

    &-nav {
        margin-top: 20px;
        padding: 0 20px;
        @include flex('', center);

        button {
            width: 100px;
            height: 50px;
            background-color: #12bbad;
            outline: none;
            border-radius: 5px;
            border: 0px;
            color: #fff;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                background-color: #B5CAA0;
            }

            &:active {
                background-color: #86C166;
            }
        }
    }
}

.middle {
    padding: 0 30px;
    display: block;
    height: calc(100% - 170px);

    @include screen(mobile) {
        height: calc(100% - 165px);
    }

    .scrollbar-macosx {
        @include flex(center,center);
        flex-wrap: wrap;
        height: 100%;
    }

    &__item {
        width: 150px;
        padding: 0 10px;
        margin: 20px;
        @include flex(center, center);
        flex-flow: column;
        box-shadow: 1px 1px 2px 1px #636363;
        border-radius: 5px;
        cursor: pointer;

        img {
            width: 100px;
            height: 100px;
            margin: 10px 0;
        }

        &-txt {
            text-align: center;
            padding: 10px 10px;
            width: 100%;
            font-size: 18px;
            
            &_color {
                background-color: #000;
                color: #fff;
            }
        }
    }
}