@font-face {
  font-family: 'gjgxp_r';
  src: url("../../font/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("../../font/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.view {
  padding: 0 30px;
  height: 100%;
}

.top {
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .top {
    padding: 30px 0;
  }
}

.top-title {
  background-color: #e9ecef;
  padding: 15px 20px;
}

.top-title p {
  color: #636363;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .top-title p {
    font-size: 20px;
  }
}

.top-nav {
  margin-top: 20px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav__select {
  width: 100px;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border-color: #838383;
  font-size: 15px;
  margin-right: 20px;
}

.top-nav button {
  width: 100px;
  height: 50px;
  background-color: #12bbad;
  outline: none;
  border-radius: 5px;
  border: 0px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.top-nav button:hover {
  background-color: #B5CAA0;
}

.top-nav button:active {
  background-color: #86C166;
}

.middle {
  padding: 0 30px;
  height: calc(100% - 186px);
  display: block;
}

@media screen and (max-width: 900px) {
  .middle {
    display: none;
  }
}

.middle-list {
  width: 100%;
  height: 100%;
}

.middle-list__title {
  background-color: #12bbad;
  padding: 15px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-list__title div {
  text-align: center;
}

.middle-list__title div p {
  color: #fff;
}

.middle-list__title div:nth-child(1) {
  width: 12%;
}

.middle-list__title div:nth-child(2) {
  width: 12%;
}

.middle-list__title div:nth-child(3) {
  width: 12%;
}

.middle-list__title div:nth-child(4) {
  width: 12%;
}

.middle-list__title div:nth-child(5) {
  width: 12%;
}

.middle-list__title div:nth-child(6) {
  width: 12%;
}

.middle-list__title div:nth-child(7) {
  width: 12%;
}

.middle-list__title div:nth-child(8) {
  width: 12%;
}

.middle-list__content {
  height: calc(100% - 46px);
  overflow: hidden;
  width: 100%;
}

.middle-list__content .scrollbar-macosx {
  height: 100%;
}

.middle-list__content-none-data {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 30px;
  font-family: 'gjgxp_r';
  display: none;
}

.middle-list__content-item {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c5c5c5;
}

.middle-list__content-item:last-child {
  border: 0px;
}

.middle-list__content-item div {
  text-align: center;
}

.middle-list__content-item div p {
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.middle-list__content-item div:nth-child(1) {
  width: 12%;
}

.middle-list__content-item div:nth-child(2) {
  width: 12%;
}

.middle-list__content-item div:nth-child(2) img {
  width: 60px;
  height: 60px;
}

.middle-list__content-item div:nth-child(3) {
  width: 12%;
}

.middle-list__content-item div:nth-child(4) {
  width: 12%;
}

.middle-list__content-item div:nth-child(5) {
  width: 12%;
}

.middle-list__content-item div:nth-child(6) {
  width: 12%;
}

.middle-list__content-item div:nth-child(7) {
  width: 12%;
}

.middle-list__content-item div:nth-child(7) i {
  color: #12bbad;
  cursor: pointer;
}

.middle-list__content-item div:nth-child(7) i:hover {
  color: #B5CAA0;
}

.middle-list__content-item div:nth-child(7) i:active {
  color: #86C166;
}

.middle-list__content-item div:nth-child(8) {
  width: 12%;
}

.middle-list__content-item div:nth-child(8) i {
  color: #12bbad;
  cursor: pointer;
}

.middle-list__content-item div:nth-child(8) i:hover {
  color: #B5CAA0;
}

.middle-list__content-item div:nth-child(8) i:active {
  color: #86C166;
}

.phone {
  padding: 0 30px;
  height: calc(100% - 186px);
  display: none;
}

@media screen and (max-width: 900px) {
  .phone {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .phone {
    padding: 0;
  }
}

.phone__none-data {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 20px;
  font-family: 'gjgxp_r';
  display: none;
}

.phone__list {
  padding: 0px 20px;
  height: 100%;
}

.phone__list-item {
  border: 1px solid #838383;
  margin: 0px 10px 20px 10px;
}

.phone__list-item-content {
  width: 100%;
  border-bottom: 1px solid #838383;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__list-item-content img {
  width: 100px;
  height: 100px;
}

.phone__list-item-content_img {
  padding: 10px 0;
}

.phone__list-item-content-title {
  width: 30%;
  text-align: center;
  padding: 10px 0;
  border-right: 1px solid #838383;
  background-color: #12bbad;
}

.phone__list-item-content-title p {
  color: #fff;
}

.phone__list-item-content-thing {
  width: 70%;
  text-align: center;
}

.phone__list-item-content-thing p {
  color: #838383;
}

.phone__list-item-content-set {
  width: 50%;
  text-align: center;
  padding: 10px 0;
}

.phone__list-item-content-set p, .phone__list-item-content-set i {
  color: #12bbad;
  cursor: pointer;
}

.phone__list-item-content-set p:hover, .phone__list-item-content-set i:hover {
  color: #B5CAA0;
}

.phone__list-item-content-set p:active, .phone__list-item-content-set i:active {
  color: #86C166;
}

.phone__list-item-content:last-child {
  border-bottom: 0px;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: /*rgba(0, 0, 0, 0.3)*/transparent;
  position: absolute;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.popup_show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.popup-message {
    margin-right:320px;
    width: 300px;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 5px 5px 7px #bbbbbb;
}

.popup-message i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.popup-message span {
  display: block;
  font-size: 20px;
  color: #dc3545;
  padding-top: 10px;
}

.popup-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.popup-box__button {
  width: 60px;
  border: 1px solid #12bbad;
  color: #12bbad;
  text-align: center;
  border-radius: 3px;
  padding: 10px 0;
  cursor: pointer;
}

.popup-box__button_send {
  background-color: #12bbad;
  color: #fff;
  margin-left: 10px;
}

.popup-box__button:hover {
  opacity: .5;
}

.popup-box__button:active {
  opacity: .7;
}
/*# sourceMappingURL=warehouse.css.map */