@font-face {
  font-family: 'gjgxp_r';
  src: url("../../font/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("../../font/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.view {
  padding: 0 30px;
  height: 100%;
}

.top {
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .top {
    padding: 30px 0;
  }
}

.top-title {
  background-color: #e9ecef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.top-title p {
  color: #636363;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .top-title p {
    font-size: 15px;
  }
}

.top-nav {
  margin-top: 20px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav__select {
    width: 150px;
    height: 50px;
    outline: none;
    border-radius: 5px;
    border-color: #838383;
    font-size: 15px;
    margin-right: 20px;
}

.top-nav button {
  width: 100px;
  height: 50px;
  background-color: #12bbad;
  outline: none;
  border-radius: 5px;
  border: 0px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.top-nav button:hover {
  background-color: #B5CAA0;
}

.top-nav button:active {
  background-color: #86C166;
}

.middle {
  padding: 0 30px;
  display: block;
  height: calc(100% - 170px);
}

@media screen and (max-width: 500px) {
  .middle {
    height: calc(100% - 165px);
  }
}

.middle .scrollbar-macosx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.middle__item {
  width: 150px;
  padding: 0 10px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 1px 1px 2px 1px #636363;
          box-shadow: 1px 1px 2px 1px #636363;
  border-radius: 5px;
  cursor: pointer;
}

.middle__item img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

.middle__item-txt {
  text-align: center;
  padding: 10px 10px;
  width: 100%;
  font-size: 18px;
}

.middle__item-button {
    text-align: center;
    padding: 10px 10px;
    width: 100%;
    font-size: 18px;
}


.middle__item-txt_color {
  background-color: #000;
  color: #fff;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}

.popup_show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.popup-message {
    width: 300px;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

    .popup-message i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .popup-message span {
        display: block;
        font-size: 20px;
        color: #dc3545;
        padding-top: 10px;
    }

.popup-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.popup-box__button {
    width: 60px;
    border: 1px solid #12bbad;
    color: #12bbad;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
}

.popup-box__button_send {
    background-color: #12bbad;
    color: #fff;
    margin-left: 10px;
}

.popup-box__button:hover {
    opacity: .5;
}

.popup-box__button:active {
    opacity: .7;
}
/*# sourceMappingURL=warehouse.css.map */