@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.member {
    &__title {
        font-size: 30px;
        font-family: 'gjgxp_b';
        color: #000;
    }

    &__form {
        padding: 20px 20px;
    }

    &__flex {
        @include flex(between, center);
        flex-wrap: wrap;
        width: 100%;

        &-item {
            @include flex(between, center);
            width: 30%;
            padding: 20px 0;
            position: relative;

            &_must {
                &::before {
                    content: '*';
                    color: #f71313;
                    padding: 0 3px;
                    font-size: 15px ;
                    font-family: "gigxp_r";
                    position: absolute;
                    left: -15px;
                }
            }

            &_width {
                width: 60%;
            }

            &-txt {
                font-size: 20px;
                font-family: 'gjgxp_r';
                padding-right: 10px;
            }

            &-error {
                color: #f71313;
                position: absolute;
                font-size: 15px;
                top: 51px;
                right: 0px;
                padding: 0;
                width: auto;
                display: none;

                &_show {
                    display: block;
                }
            }

            &-input {
                outline: none;
                padding: 5px;
                width: 50%;

                &_error {
                    border: 1px solid #f71313;
                }
            }

            &-box {
                width: 50%;
                @include flex(center,center);
                
                label {
                    width: 50%;
                }

                input[type="radio"] {
                    margin: 0 10px;
                }
            }

            textarea {
                width: 76%;
                outline: none;
            }
        }
    }

    &__button {
        width: 100%;
        @include flex(right, center);

        &-children {
            outline: none;
            border: 0px;
            border-radius: 5px;
            text-align: center;
            padding: 20px 50px;
            background-color: #5DAC81;
            color: #fff;
            cursor: pointer;
            font-size: 20px;

            &_close {
                background-color: #e67a33;
                margin-left: 10px;
            }
        }
    }
}