@font-face {
    font-family: 'gjgxp_r';
    src: url("/fonts/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
    font-family: 'gjgxp_b';
    src: url("/fonts/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#5DAC81), color-stop(#A8D8B9), to(#FAD689));
  background: linear-gradient(270deg, #5DAC81, #A8D8B9, #FAD689);
}

.header-icon {
  width: 40px;
  height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: none;
  margin-right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .header-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-icon p {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
}

.header__name {
  display: block;
  padding: 0px 30px;
}

.header__name span {
  color: #fff;
  font-size: 30px;
  text-shadow: black 1px 1px 2px;
  font-family: 'gjgxp_r';
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .header-right {
    display: none;
  }
}

.header-right__item {
  padding: 10px 30px;
}

.header-right__item i {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #636363;
}

.header-right__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
}

.header-right__user i {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #838383;
  display: block;
}

.header-right__user p {
  font-size: 18px;
  font-family: 'gjgxp_r';
  padding-left: 10px;
}

.body {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-left {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#5DAC81), color-stop(#A8D8B9), to(#FAD689));
  background: linear-gradient(180deg, #5DAC81, #A8D8B9, #FAD689);
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.body-left_width {
  margin-left: -180px;
}

.body-left .left-button {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  background-color: #5DAC81;
  display: block;
  border-radius: 0px 5px 5px 0px;
  padding: 15px 0;
  color: #fff;
  cursor: pointer;
  margin-left: 180px;
  width: 20px;
  text-align: center;
}

.body-left .left-list {
  overflow: hidden;
}

.body-left .left-list__item {
  padding: 20px 0;
}

.body-left .left-list__item-select {
  padding: 10px 40px;
  cursor: pointer;
  width: 100px;
}

.body-left .left-list__item-select p {
  font-family: 'gjgxp_r';
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.body-left .left-list__item-list {
  background-color: #36563C;
  display: block;
  overflow: hidden;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.body-left .left-list__item-list-option {
  display: block;
  overflow: hidden;
  padding: 10px 40px;
  cursor: pointer;
}

.body-left .left-list__item-list-option p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.body-left .left-list__item-list-option:hover {
  background-color: #A8D8B9;
  opacity: .3;
}

.body-left .left-list__item-list-option:active {
  background-color: #5B622E;
  opacity: .7;
}

.body-left .left-list__item-list_show {
  height: 160px;
}

.body-right {
  padding: 30px 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=head-and-nav.css.map */