@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.header {
    height: 80px;
    @include flex(between, center);
    background: linear-gradient(270deg, #5DAC81, #A8D8B9, #FAD689);

    &-icon {
        width: 40px;
        height: 30px;
        flex-flow: column;
        display: none;
        margin-right: 15px;
        cursor: pointer;
        @include screen(pad) {
            @include flex(between, '');
        }

        p {
            height: 3px;
            width: 100%;
            background-color: #fff;
            border-radius: 3px;
        }

        
    }

    &__name {
        display: block;
        padding: 0px 30px;

        span {
            color: #fff;
            font-size: 30px;
            text-shadow: black 1px 1px 2px;
            font-family: 'gjgxp_r';
        }
    }

    &-right {
        @include flex(between, center);

        @include screen(pad) {
            display: none;
        }

        &__item {
            padding: 10px 30px;

            i {
                display: block;
                width: 30px;
                height: 30px;
                background-color: #636363;
            }
        }

        &__user {
            @include flex(center, center);
            padding: 10px 30px;

            i {
                width: 30px;
                height: 30px;
                border-radius: 20px;
                background-color: #838383;
                display: block;
            }

            p {
                font-size: 18px;
                font-family: 'gjgxp_r';
                padding-left: 10px;
            }
        }
    }
}

.body {
    height: calc(100% - 80px);
    @include flex('','');

    &-left {
        display: block;
        background: linear-gradient(180deg, #5DAC81, #A8D8B9, #FAD689);
        transition: .3s;
        position: relative;

        &_width {
            margin-left: -180px;

        }

        .left-button {
            transition: .3s;
            position: absolute;
            background-color: #5DAC81;
            display: block;
            border-radius: 0px 5px 5px 0px;
            padding: 15px 0;
            color: #fff;
            cursor: pointer;
            margin-left: 180px;
            width: 20px;
            text-align: center;
        }

        .left-list {
            overflow: hidden;

            &__item {
                padding: 20px 0;

                &-select {
                    padding: 10px 40px;
                    cursor: pointer;
                    width: 100px;

                    p {
                        font-family: 'gjgxp_r';
                        color: #fff;
                        font-size: 20px;
                        line-height: 20px;
                    }
                }

                &-list {
                    background-color: #36563C;
                    display: block;
                    overflow: hidden;
                    height: 0;
                    transition: .3s;

                    &-option {
                        display: block;
                        overflow: hidden;
                        padding: 10px 40px;
                        cursor: pointer;

                        p {
                            color: #fff;
                            font-size: 15px;
                            line-height: 20px;
                        }

                        &:hover {
                            background-color: #A8D8B9;
                            opacity: .3;
                        }

                        &:active {
                            background-color: #5B622E;
                            opacity: .7;
                        }
                    }

                    &_show {
                        height: 160px;
                    }
                }
            }
        }
    }

    &-right {
        padding: 30px 30px;
        width: 100%;
        box-sizing: border-box;
    }
}

iframe {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}