@font-face {
  font-family: 'gjgxp_r';
  src: url("/fonts/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
  font-family: 'gjgxp_b';
  src: url("/fonts/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 1280px;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#5DAC81), color-stop(#A8D8B9), to(#FAD689));
  background: linear-gradient(270deg, #5DAC81, #A8D8B9, #FAD689);
}

.header__name {
  display: block;
  padding: 0px 30px;
}

.header__name span {
  color: #fff;
  font-size: 30px;
  text-shadow: black 1px 1px 2px;
  font-family: 'gjgxp_r';
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right__item {
  padding: 10px 30px;
}

.header-right__item i {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #636363;
}

.header-right__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
}

.header-right__user i {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #838383;
  display: block;
}

.header-right__user p {
  font-size: 18px;
  font-family: 'gjgxp_r';
  padding-left: 10px;
}

.body {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-left {
  display: block;
  width: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5DAC81), color-stop(#A8D8B9), to(#FAD689));
  background: linear-gradient(180deg, #5DAC81, #A8D8B9, #FAD689);
}

.body-left .left-list__item {
  padding: 20px 0;
}

.body-left .left-list__item-select {
  padding: 10px 40px;
  cursor: pointer;
}

.body-left .left-list__item-select p {
  font-family: 'gjgxp_r';
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.body-left .left-list__item-list {
  background-color: #36563C;
  display: block;
  -webkit-transition: height .3s;
  transition: height .3s;
  overflow: hidden;
  height: auto;
}

.body-left .left-list__item-list-option {
  display: block;
  overflow: hidden;
  padding: 10px 40px;
  cursor: pointer;
}

.body-left .left-list__item-list-option p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.body-left .left-list__item-list-option:hover {
  background-color: #A8D8B9;
  opacity: .3;
}

.body-left .left-list__item-list-option:active {
  background-color: #5B622E;
  opacity: .7;
}

.body-left .left-list__item-list_none {
  height: 0px;
}

.body-right {
  padding: 30px 30px;
  width: calc(100% - 310px);
}

.body-right .member {
  display: none;
}

.body-right .member_show {
  display: block;
}

.body-right .member__title {
  font-size: 30px;
  font-family: 'gjgxp_b';
  color: #000;
}

.body-right .member__form {
  padding: 20px 20px;
}

.body-right .member__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.body-right .member__flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  padding: 20px 0;
  position: relative;
}

.body-right .member__flex-item-txt {
  font-size: 20px;
  font-family: 'gjgxp_r';
  padding-right: 10px;
  width: 50%;
}

.body-right .member__flex-item-hightlight{
    font-size: 15px ;
    font-family: "gigxp_r" ;
    color:#f71313 ;
}

.body-right .member__flex-item-error {
  color: #f71313;
  position: absolute;
  font-size: 15px;
  top: 51px;
  right: 0px;
  padding: 0;
  width: auto;
  display: none;
}

.body-right .member__flex-item-error_show {
  display: block;
}

.body-right .member__flex-item-input {
  outline: none;
  padding: 5px;
  width: 50%;
}

.body-right .member__flex-item-input_error {
  border: 1px solid #f71313;
}

.body-right .member__flex-item-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-right .member__flex-item-box label {
  width: 50%;
}

.body-right .member__flex-item-box input[type="radio"] {
  margin: 0 10px;
}

.body-right .member__flex-item textarea {
  width: 100%;
  outline: none;
}

.body-right .member__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-right .member__button-children {
  outline: none;
  border: 0px;
  border-radius: 5px;
  text-align: center;
  padding: 20px 50px;
  background-color: #5DAC81;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.body-right .member__button-children_close {
  background-color: #e67a33;
  margin-left: 10px;
}
/*# sourceMappingURL=home.css.map */