@import '../public/flex.scss';
@import '../public/font.scss';

html, body {
    width: 100%;
    height: 100%;
    min-width: 1280px;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.header {
    height: 80px;
    @include flex(between, center);
    background: linear-gradient(270deg, #5DAC81, #A8D8B9, #FAD689);

    &__name {
        display: block;
        padding: 0px 30px;

        span {
            color: #fff;
            font-size: 30px;
            text-shadow: black 1px 1px 2px;
            font-family: 'gjgxp_r';
        }
    }

    &-right {
        @include flex(between, center);

        &__item {
            padding: 10px 30px;

            i {
                display: block;
                width: 30px;
                height: 30px;
                background-color: #636363;
            }
        }

        &__user {
            @include flex(center, center);
            padding: 10px 30px;

            i {
                width: 30px;
                height: 30px;
                border-radius: 20px;
                background-color: #838383;
                display: block;
            }

            p {
                font-size: 18px;
                font-family: 'gjgxp_r';
                padding-left: 10px;
            }
        }
    }
}

.body {
    height: calc(100% - 80px);
    @include flex('','');

    &-left {
        display: block;
        width: 250px;
        background: linear-gradient(180deg, #5DAC81, #A8D8B9, #FAD689);

        .left-list {

            &__item {
                padding: 20px 0;

                &-select {
                    padding: 10px 40px;
                    cursor: pointer;

                    p {
                        font-family: 'gjgxp_r';
                        color: #fff;
                        font-size: 20px;
                        line-height: 20px;
                    }
                }

                &-list {
                    background-color: #36563C;
                    display: block;
                    transition: height .3s;
                    overflow: hidden;
                    height: auto;

                    &-option {
                        display: block;
                        overflow: hidden;
                        padding: 10px 40px;
                        cursor: pointer;

                        p {
                            color: #fff;
                            font-size: 15px;
                            line-height: 20px;
                        }

                        &:hover {
                            background-color: #A8D8B9;
                            opacity: .3;
                        }

                        &:active {
                            background-color: #5B622E;
                            opacity: .7;
                        }
                    }

                    &_none {
                        height: 0px;
                    }
                }
            }
        }
    }

    &-right {
        padding: 30px 30px;
        width: calc(100% - 310px);

        .member {
            display: none;

            &_show {
                display: block;
            }

            &__title {
                font-size: 30px;
                font-family: 'gjgxp_b';
                color: #000;
            }

            &__form {
                padding: 20px 20px;
            }

            &__flex {
                @include flex(between, center);
                flex-wrap: wrap;
                width: 100%;

                &-item {
                    @include flex(center, center);
                    width: 30%;
                    padding: 20px 0;
                    position: relative;

                    &-txt {
                        font-size: 20px;
                        font-family: 'gjgxp_r';
                        padding-right: 10px;
                        width: 50%;

                        &_error {
                            
                        }
                    }

                    &-error {
                        color: #f71313;
                        position: absolute;
                        font-size: 15px;
                        top: 51px;
                        right: 0px;
                        padding: 0;
                        width: auto;
                        display: none;

                        &_show {
                            display: block;
                        }
                    }

                    &-input {
                        outline: none;
                        padding: 5px;
                        width: 50%;

                        &_error {
                            border: 1px solid #f71313;
                        }
                    }

                    &-box {
                        width: 50%;
                        @include flex(center,center);
                        
                        label {
                            width: 50%;
                        }

                        input[type="radio"] {
                            margin: 0 10px;
                        }
                    }

                    textarea {
                        width: 100%;
                        outline: none;
                    }
                }
            }

            &__button {
                width: 100%;
                @include flex(right, center);

                &-children {
                    outline: none;
                    border: 0px;
                    border-radius: 5px;
                    text-align: center;
                    padding: 20px 50px;
                    background-color: #5DAC81;
                    color: #fff;
                    cursor: pointer;
                    font-size: 20px;

                    &_close {
                        background-color: #e67a33;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}