html, body {
  width: 100%;
  height: 100%;
  min-width: 1280px;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
  background: linear-gradient(210deg, #5DAC81, #A8D8B9, #FAD689);
}

.view {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  width: 300px;
  height: 500px;
  padding: 30px 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 1px 1px 8px 5px #838383;
          box-shadow: 1px 1px 8px 5px #838383;
  border-radius: 5px;
}

.login__logo {
  width: 150px;
  height: 150px;
}

.login__form {
  width: 100%;
}

.login__form-item {
  position: relative;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__form-item span {
  color: #636363;
  padding: 5px;
  font-size: 18px;
}

.login__form-item-input {
  color: #636363;
  padding: 10px;
  width: 65%;
  font-size: 15px;
  outline: none;
  border: 1px solid #636363;
  border-radius: 5px;
}

.login__form-item-input_error {
  border: 1px solid red;
}

.login__form-item-error {
  position: absolute;
  bottom: 0;
  left: 85px;
  font-size: 12px;
  color: red;
}

.login__button {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__button-input {
  width: 43%;
  height: 40px;
  border: 0px;
  margin: 10px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  background-color: #838383;
  outline: none;
  cursor: pointer;
}

.login__button-input:hover {
  background-color: #636363;
}

.login__button-input:active {
  background-color: #434343;
}

.login__button-input_green {
  background-color: #5DAC81;
}

.login__button-input_green:hover {
  background-color: #A8D8B9;
}

.login__button-input_green:active {
  background-color: #1B813E;
}

.login__button-input_google {
  background-color: #F05E1C;
}

.login__button-input_google:hover {
  background-color: #ED784A;
}

.login__button-input_google:active {
  background-color: #F75C2F;
}

.login__button-input_line {
  background-color: #00b900;
}

.login__button-input_line:hover {
  background-color: #A8D8B9;
}

.login__button-input_line:active {
  background-color: #1B813E;
}
/*# sourceMappingURL=login.css.map */