@font-face {
    font-family: 'gjgxp_r';
    src: url("/fonts/GenJyuuGothicX-P-Regular.ttf");
}

@font-face {
    font-family: 'gjgxp_b';
    src: url("/fonts/GenJyuuGothicX-P-Bold.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  font-family: 'Microsoft JhengHei';
}

.member {
  height: 100%;
}

.member__title {
  font-size: 30px;
  font-family: 'gjgxp_b';
  color: #000;
}

.member__bar {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member__bar .bar-left__search {
  width: 150px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #838383;
  outline: none;
  font-size: 18px;
  color: #636363;
}

.member__bar .bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member__bar .bar-right__add {
  width: 150px;
  padding: 15px 0;
  text-align: center;
  background-color: #A8D8B9;
  border-radius: 10px;
  cursor: pointer;
}

.member__bar .bar-right__add p {
  font-size: 18px;
  font-family: 'gjgxp_r';
}

.member__bar .bar-right__page {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member__bar .bar-right__page p {
  margin: 5px;
}

.member__bar .bar-right__page select {
  width: 100px;
  height: 46px;
  outline: none;
  font-size: 20px;
  text-align: center;
}

.member__list {
  width: 100%;
  height: calc(100% - 138px);
  padding: 10px 0;
}

.member__list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5DAC81;
  border-radius: 5px 5px 0px 0px;
}

.member__list-title li {
  width: 16%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}

.member__list-title li:nth-child(1) {
  width: 50px;
}

.member__list-content {
  height: calc(100% - 38px);
}

.member__list-content .scrollbar-macosx {
  height: 100%;
}

.member__list-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #636363;
}

.member__list-content-item-option {
  width: 16%;
  text-align: center;
}

.member__list-content-item-option p {
  line-height: 18px;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.member__list-content-item-option:nth-child(1) {
  width: 50px;
}

.member__list-content-item-option:nth-child(7) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member__list-content-item-option:nth-child(7) input[type='button'] {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #FAD689;
  margin: 0 10px;
  outline: none;
  border: 0;
  cursor: pointer;
}

.member__list-content-item-option:nth-child(7) input[type='button']:nth-child(2) {
  background-color: #f71313;
}
/*# sourceMappingURL=user-list.css.map */