@import '../public/flex.scss';
@import '../public/font.scss';
@import '../public/screen.scss';

html, body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-family: 'Microsoft JhengHei';
}

.member {
    height: 100%;

    &__title {
        font-size: 30px;
        font-family: 'gjgxp_b';
        color: #000;
    }

    &__bar {
        width: 100%;
        padding: 20px 0;
        @include flex(between,center);

        .bar-left {
            &__search {
                width: 150px;
                padding: 12px;
                border-radius: 5px;
                border: 1px solid #838383;
                outline: none;
                font-size: 18px;
                color: #636363;
            }
        }

        .bar-right {
            @include flex(between, center);

            &__add {
                width: 150px;
                padding: 15px 0;
                text-align: center;
                background-color: #A8D8B9;
                border-radius: 10px;
                cursor: pointer;

                p {
                    font-size: 18px;
                    font-family: 'gjgxp_r';
                }
            }

            &__page {
                margin-left: 20px;
                @include flex(center,center);

                p {
                    margin: 5px;
                }

                select {
                    width: 100px;
                    height: 46px;
                    outline: none;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    }

    &__list {
        width: 100%;
        height: calc(100% - 138px);
        padding: 10px 0;

        &-title {
            @include flex(between, center);
            background-color:  #5DAC81;
            border-radius: 5px 5px 0px 0px;

            li {
                width: 16%;
                text-align: center;
                padding: 10px 0;
                font-size: 18px;
                

                &:nth-child(1) {
                    width: 50px;
                }
            }
        }

        &-content {
            height: calc(100% - 38px);
            .scrollbar-macosx {
                height: 100%;
            }

            &-item {
                @include flex(between, center);
                padding: 15px 0;
                border-bottom: 1px solid #636363;

                &-option {
                    width: 16%;
                    text-align: center;

                    p {
                        line-height: 18px;
                        overflow: hidden;
                        white-space: pre-wrap;
                        text-overflow: ellipsis;
                    }

                    &:nth-child(1) {
                        width: 50px;
                    }

                    &:nth-child(7) {
                        @include flex(center, center);

                        input[type='button'] {
                            width: 20px;
                            height: 20px;
                            border-radius: 10px;
                            background-color: #FAD689;
                            margin: 0 10px;
                            outline: none;
                            border: 0;
                            cursor: pointer;

                            &:nth-child(2) {
                                background-color: #f71313;
                            }
                        }
                    }
                }
            }
        }
    }
}