/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
body {
  padding-top: 0px;
}

#banner{
  min-width: 1080px;
  padding-left: 0px;
  padding-right: 0px;
}

.row{
  width: 1080px;
  margin-left: 0px;
  margin-right: 0px;
}


#news{
  background-color: #275e92;
  min-width: 1080px;
  max-width: 1080px;
  height: 55px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

section{
  margin-left: 0px;
  margin-right: 0px;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .3;
  z-index: 1;
}

#product{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 76px;
  margin-right: 76px;
}

/*#pro1,#pro2,#pro3,#pro4,#pro5,#pro6,#pro7,#pro8,#pro9,#pro10,#pro11{
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 30px;
}*/

.pro {
    margin-left: 9px !important;
    margin-right: 9px !important;
    margin-top: 30px !important;
}

.form{
  display: none;
  position: absolute;
  background-color: white;
  top: 400px;
  left: 90px;
  width: 930px;
  height: 1470px;
}

#formbuy{
  z-index: 2;
}

#pay1,#pay2,#pay3,#pay4,#pay5{
  margin-left: 20.5px;
  margin-right: 20.5px;
  margin-top: 40px;
}

#formpay{
  z-index: 3;
}

#finishpage{
  z-index: 4;
}

.buybtn{
  background-color: rgb(87,100,160);
  color: white;
  width: 300px;
  height: 60px;
  text-align: center;
  margin-top: 100px;
}

.closebtn{
  background-color: rgb(194, 68, 52);
  color:white;
  width: 300px;
  height: 60px;
  text-align: center;
}

#close_paytype{
  position: absolute;
  left: 600px;
  top: 1340px;
}

#close_finish{
  color: #275e92;
  background-color: white;
}

.rounded{
  border-radius:0.5rem!important
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.myButton {
  background-color:#d83526;
  border-radius:28px;
  border:1px solid #fe1a00 ;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  
  font-size:30px;
  padding:16px 100px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
  background-color:#ce0100;
}
.myButton:active {
  position:relative;
  top:1px;
}
.myButton1 {
  background-color:#1e62d0;
  border-radius:28px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
 
  font-size:36px;
  padding:16px 200px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
}
.myButton1:hover {
  background-color:#3d93f6;
}
.myButton1:active {
  position:relative;
  top:1px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius:10px;
}
.container {
  padding: 2px 16px;
}
.inputbox {
  border:0 none; 
  width: 150px;
  background-color:#155F94 ;
  color: #ffff;
  border-radius:5px;
  text-align: center;
}
.box-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#cover1,#cover2,#cover3,#cover4,#cover5,#cover6,#cover7,#cover8,#cover9,#cover10{
  /* display: none; */
  width: 214px;
  height: 336px;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#cover1{
  display: none;
  position: absolute;
  top: 431px;
  left: 0px;
}

#cover2{
  display: none;
  position: absolute;
  top: 431px;
  left: 270px;
}

#cover3{
  display: none;
  position: absolute;
  top: 431px;
  left: 540px;
}

#cover4{
  display: none;
  position: absolute;
  top: 431px;
  left: 810px;
}

#cover5{
  display: none;
  position: absolute;
  top: 797px;
  left: 0px;
}

#cover6{
  display: none;
  position: absolute;
  top: 797px;
  left: 270px;
}

#cover7{
  display: none;
  position: absolute;
  top: 797px;
  left: 540px;
}

#cover8{
  display: none;
  position: absolute;
  top: 797px;
  left: 810px;
}

#cover9{
  display: none;
  position: absolute;
  top: 1163px;
  left: 0px;
}

#cover10{
  display: none;
  position: absolute;
  top: 1163px;
  left: 270px;
}

.cover{

  width: 212px;
  height: 334px;
  z-index: 2;
}