﻿
@{
    ViewBag.Title = "iPass";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}
@section style{
    <link href="~/Content/include/backend/blue/login.css" rel="stylesheet" />
}
@section main{
    <div class="view">
        <div class="login">
            <img class="login__logo" src="~/images/evm/danny/logo.png" />
            <ul class="login__form">
                <li class="login__form-item">
                    <span>統一編號：</span>
                    <!-- login__form-item-input_error -->
                    <input type="text" class="login__form-item-input">
                    <!-- ogin__form-item-error_show -->
                    <p class="login__form-item-error">統一編號錯誤不可為空白</p>
                </li>
                <li class="login__form-item">
                    <span>帳號：</span>
                    <input type="text" class="login__form-item-input">
                    <p class="login__form-item-error">帳號不可為空白</p>
                </li>
                <li class="login__form-item">
                    <span>密碼：</span>
                    <input type="password" class="login__form-item-input">
                    <p class="login__form-item-error">密碼不可為空白</p>
                </li>
            </ul>
            <div class="login__button">
                <input type="button" value="Logup" class="login__button-input login__button-input_none">
                <input type="button" value="Login" class="login__button-input">
                <input type="button" value="Google綁定" class="login__button-input login__button-input_none">
                <input type="button" value="Line綁定" class="login__button-input login__button-input_none">
            </div>
        </div>
        <!-- 依需要的頁面切換login_show -->
        <div class="login login_show">
            <img class="login__logo" src="~/images/evm/danny/logo.png" />
            <ul class="login__form">
                <li class="login__form-item">
                    <span>密碼：</span>
                    <input type="text" class="login__form-item-input">
                    <p class="login__form-item-error">密碼不可為空白</p>
                </li>
                <li class="login__form-item">
                    <span>確認密碼：</span>
                    <input type="password" class="login__form-item-input">
                    <p class="login__form-item-error">確認密碼不可為空白</p>
                </li>
            </ul> 
            <input hidden type="text" value="@ViewData["token"]" />
            <div class="login__button login__button_center">
                <input type="button" value="送出" class="login__button-input">
            </div>
        </div>
    </div>
}

