﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/include/evm/danny/public/reset.css" rel="stylesheet" />
    <link href="~/Content/include/evm/danny/private/login.css" rel="stylesheet" />
    <script src="~/Scripts/include/evm/danny/public/jquery-3.5.1.js"></script>
    <script src="~/Scripts/include/js/jquery-3.5.1.js"></script>
    <script src="~/Scripts/include/evm/danny/public/fontawesome949ff259c5.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/include/evm/danny/private/login.js"></script>
    <title>@ViewBag.title</title>
</head>
<body>
    <div class="view" id="containment-wrapper">
        <form id="form" name="form" class="login">
            @RenderSection("main", true)
            <input type="text" id="csrf" name="csrf" hidden value="@Session["csrf"]" />
        </form>
        <div class="keyboard" id="draggable">
            <div class="keyboard__title">
                <div class="keyboard__title-keyboard">
                    <p>鍵盤</p>
                </div>
                <div class="keyboard__title-close">
                    <p id="input-clear">清空</p>
                </div>
                <div class="keyboard__title-close">
                    <p id="input-close">關閉</p>
                </div>
            </div>
            <ul class="keyboard__content">
                <li class="keyboard__content-item">
                    <div class="keyboard__content-item-txt">
                        <p>1</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>2</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>3</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>4</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>5</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>6</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>7</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>8</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>9</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>0</p>
                    </div>
                </li>
                <li class="keyboard__content-item">
                    <div class="keyboard__content-item-txt">
                        <p>q</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>w</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>e</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>r</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>t</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>y</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>u</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>i</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>o</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>p</p>
                    </div>
                </li>
                <li class="keyboard__content-item">
                    <div class="keyboard__content-item-txt">
                        <p>a</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>s</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>d</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>f</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>g</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>h</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>j</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>k</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>l</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>空白</p>
                    </div>
                </li>
                <li class="keyboard__content-item keyboard__content-item_last">
                    <div class="keyboard__content-item-txt">
                        <p>shift</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>z</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>x</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>c</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>v</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>b</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>n</p>
                    </div>
                    <div class="keyboard__content-item-txt">
                        <p>m</p>
                    </div>
                    <div class="keyboard__content-item-txt" onclick="keyboard(false)">
                        <img src="~/images/evm/danny/enter.svg" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    @RenderSection("script", false)
</body>
</html>