﻿@using weiddeson2.Models
@{ ViewBag.Title = "原石";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var product = ViewBag.productList;
    int first = 1;
    int first2 = 1; }
@@section Productlists
{
@foreach (Product products in product)
{
    if (products.proQty > 0)
    {
<div class="col-md-3">
    <a id="productinfo@(products.roadId)" onclick="showformbuy('@products.roadId',@products.unitPrice)" data-img="@products.pic" data-content="@products.content" data-pdname="@products.pdName" data-unit="@products.unitPrice">
        <div class="card pro" id="pro@(first)">
            <img src="@products.pic" alt="Avatar" style="width:100%">
            <hr style="width:70%;margin-left: 30px;" />
            <label>@products.pdName</label>
            <div class="container">
                <h4><input class="inputbox" type="text" name="" value="@(products.unitPrice)元"></h4>
            </div>
        </div>
    </a>
</div> }
else
{
<div class="col-md-3">
    <a id="productinfo" data-img="@products.pic" data-pdname="@products.pdName" data-unit="@products.unitPrice">
        <div class="card pro" id="pro@(first)">
            <img src="@products.pic" alt="Avatar" style="width:100%;" />
            <img src="/images/pic/pic-0019.png" alt="Avatar" style="width:100%;" id="P2" />
            <hr style="width:70%;margin-left: 30px;" />
            <label>@products.pdName</label>
            <div class="container">
                <h4><input class="inputbox" type="text" name="" value="$@(products.unitPrice) 元"></h4>
            </div>
        </div>
    </a>
</div>}
first++;
}

}

@section Productlist
{
    @foreach (Product products in product)
    {
        if (products.proQty <= 0)
        {
            <li class="body-list__item body-list__item_sold">
                <div class="body-list__item-box">
                    <img src="~/images/pic/product/@products.pic" alt="">
                    <img src="~/images/pic/pic-0019.png" alt="">
                    <p class="body-list__item-font">@products.pdName</p>
                    <label class="body-list__item-button">
                        <p>$@(products.unitPrice)元</p>
                        <input type="button">
                    </label>
                </div>
            </li> 
        }else
        {
            <li id="productinfo@(products.proId)" class="body-list__item" onclick="showformbuy('@products.proId',@products.unitPrice)"
                data-img="/images/pic/product/@products.pic" data-content="@products.content" data-pdname="@products.pdName" data-unit="@products.unitPrice">
                <div class="body-list__item-box" id="pro@(first)">
                    <img src="~/images/pic/product/@products.pic" alt="">
                    <p class="body-list__item-font">@products.pdName</p>
                    <label class="body-list__item-button">
                        <p>$</p>
                        <p>@(products.unitPrice)</p>
                        <p>元</p>
                        <input type="button">
                    </label>
                </div>
            </li>
        }
     }
}

