﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/Content/include/style/reset.css" rel="stylesheet" />
    <link href="~/Content/include/style/loading.css" rel="stylesheet" />
    <script src="~/Scripts/include/js/jquery-3.5.1.js"></script>
    <script src="~/Scripts/include/js/OverlayScrollbars.js"></script>
    <title>Linepay</title>
</head>
<body>
    <!-- 修飾 'view_line' 'view_twpay'-->
    <div class="view view_line">
        <div class="view__content">
            <!-- 依不同圖片去更換src -->
            <img src="~/images/pic/pic-0027.png" />
            <p>請款中請稍候</p>
            <div class="loading">
                <i class="loading__inner loading__inner_big"></i>
                <i class="loading__inner"></i>
                <i class="loading__inner"></i>
                <i class="loading__inner"></i>
                <i class="loading__inner"></i>
            </div>
        </div>
    </div>
    <form id="form" name="form" action="/Trans/LinePaySalse" method="post">
        <input id="transactionid" name="transactionid" value="@ViewBag.transactionid" hidden />
        <input id="amount" name="amount" value="" hidden />
        <input type="text" id="csrf" name="csrf" hidden value="@Session["CSRF_TOKEN"]" />
    </form>
    <script>
        var inner = $('.loading__inner');
        console.log($(inner[1]))
        var i = 0;

        $('document').ready(function () {

            setInterval(() => {
                i++;

                if (i > 4) {
                    i = 0;
                };

                inner.removeClass('loading__inner_big');
                $(inner[i]).addClass('loading__inner_big');
            }, 500);

            var datas = new FormData();
            datas.append('transactionid', $("input[name='transactionid']").val());
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var json = JSON.parse(this.responseText);
                    if (json.returnCode == "0000") {
                        $('#amount').val(json.info.payInfo[0].amount);
                        $('#form').submit();
                    } else {
                        alert("交易失敗。(錯誤代碼:" + json.returnCode + ")");
                        location.href = "/";
                    }
                }
            };
            xmlhttp.open("post", "/Trans/LinePayreturn", true);
            xmlhttp.send(datas);
        });
    </script>
</body>
</html>
