body {
  height: 1920px;
  min-width: 1080px;
  margin: auto;
  position: relative;
  font-family: 'Microsoft JhengHei';
  -ms-touch-action: none;
      touch-action: none;
}

.home {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #275e92;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10px;
  right: 10px;
}

.home i {
  background-image: url("/images/pic/home.svg");
  background-size: cover;
  padding: 15px;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__video {
  width: 661px;
  height: 376px;
  background-color: #000;
  outline: none;
  pointer-events: none;
}

.nav {
  background-color: #275e92;
  height: 80px;
  text-align: center;
}

.nav__font {
  padding: 9px 0;
  font-size: 60px;
  color: #fff;
}

.nav-time {
    margin: 20px 60px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #838383;
}

.nav-time__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .nav-time__date p {
        font-size: 50px;
        padding: 0 10px;
    }

.nav-time__temp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .nav-time__temp p {
        font-size: 50px;
    }

.body {
    height: calc(100% - 580px);
}


.body {
  height: calc(100% - 456px);
}

.body-flex {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 1320px;
  width: 980px;
  margin-left:125px;
}

.body-list .os-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-list__item {
  background-color: #fff;
  border-radius: 5px;
  width: calc(25% - 120px);
  padding: 5px 40px;
  margin: 15px 30px;
  -webkit-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.body-list__item:active {
  -webkit-box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
}

.body-list__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.body-list__item img {
  width: 125px;
  height: 140px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.body-list__item img:nth-child(2) {
  display: none;
  border-bottom: 0;
  width: 70%;
}

.body-list__item_sold {
  position: relative;
  pointer-events: none;
}

.body-list__item_sold img:nth-child(2) {
  display: block;
  position: absolute;
  z-index: 5;
}

.body-list__item-font {
  font-size: 15px;
  width: 170px;
  padding: 20px 0;
  text-align: center;
}

.body-list__item-button {
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #275e92;
  border-radius: 5px;
  padding: 5px;
}

.body-list__item-button p {
  font-size: 18px;
  color: #fff;
}

.body-list__item-button input {
  display: none;
}

.body .footer {
  width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

.body .footer__button {
  background-color: #636363;
  color: white;
  width: calc(25% - 20px);
  height: 120px;
  text-align: center;
  border: 0;
  font-size: 45px;
  border-radius: 5px;
  outline: none;
  margin: 0 10px;
}

.body .footer__button:active {
  background-color: #000;
}

.body .top-button {
  position: absolute;
  bottom: 150px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #838383;
  cursor: pointer;
  display: none;
}

.body .top-button svg {
  width: 30px;
  height: 30px;
}

.body .top-button_show {
  display: block;
}

.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-commodity, .popup-payment {
  border-radius: 5px;
  padding: 22px 50px;
  background-color: #fff;
  min-width: 780px;
  height: 1240px;
}

.popup .commodity-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 0;
}

.popup .commodity-data img {
  width: 368px;
  height: 367px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 5px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 5px 6px rgba(0, 0, 0, 0.2);
}

.popup .commodity-data__box {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.popup .commodity-data__box-txt {
  color: #636363;
  font-size: 18px;
}

.popup .commodity-data__box textarea {
  border: 0;
  padding: 0 18px;
  margin: 30px 0;
  color: #636363;
  font-size: 15px;
  resize: none;
  outline: none;
}

.popup .commodity-data__box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .commodity-data__box-price p {
  font-size: 25px;
  color: #636363;
}

.popup .commodity-data__box-price p:nth-child(2) {
  text-align: center;
  width: 50px;
  padding: 0 30px;
  font-weight: bold;
  font-size: 50px;
}

.popup .commodity-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.popup .commodity-pay__title {
  width: 100%;
  font-size: 30px;
  color: #636363;
  border-bottom: 1px solid #939393;
  padding: 20px 0;
}

.popup .commodity-pay__list {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.popup .commodity-pay__item {
  margin: 10px 14px;
  -webkit-box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
}

.popup .commodity-pay__item-mask {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .commodity-pay__item-mask p {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

.popup .commodity-pay__item_noClick {
  pointer-events: none;
}

.popup .commodity-pay__item:active {
  -webkit-box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
}

.popup .commodity-pay__item img {
  width: 232px;
  height: 233px;
}

.popup .commodity-pay__button {
  background-color: #C24434;
  color: white;
  width: 300px;
  height: 60px;
  text-align: center;
  border: 0;
  font-size: 30px;
  border-radius: 5px;
  outline: none;
}

.popup .commodity-pay__button:active {
  background-color: #a74133;
}

.popup .payment-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}

.popup .payment-logo img {
  border: 1px solid #838383;
  border-radius: 5px;
  width: 235px;
  height: 234px;
}

.popup .payment-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.popup .payment-show__title {
  width: 100%;
  font-size: 30px;
  color: #636363;
  border-bottom: 1px solid #939393;
  padding: 20px 0;
}

.popup .payment-show-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px 0;
}

.popup .payment-show-box__list {
  height: 479px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.popup .payment-show-box__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.popup .payment-show-box__list-item span, .popup .payment-show-box__list-item p {
  font-size: 18px;
  color: #636363;
}

.popup .payment-show-box__list-item p {
  width: 155px;
  padding: 0 20px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.popup .payment-show-box__list-item-txt {
  font-size: 40px !important;
  color: #C24434 !important;
}

.popup .payment-show-box img {
  width: 369px;
  height: 479px;
}

.popup .payment-show-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup .payment-show-button__pay-click {
  background-color: #5764A0;
  color: white;
  width: 300px;
  height: 60px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-size: 30px;
  outline: none;
}

.popup .payment-show-button__pay-click_none {
  pointer-events: none;
  background-color: #636363;
}

.popup .payment-show-button__pay-click:active {
  background-color: #515c8d;
}

.popup .payment-show-button__pay-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.popup .payment-show-button__pay-time p {
  font-size: 35px;
  color: #838383;
  padding: 20px 3px;
}

.popup .payment-show-button__pay_top {
  padding-top: 60px;
}

.popup .payment-show-button__cancel {
  padding-top: 60px;
}

.popup .payment-show-button__cancel button {
  background-color: #C24434;
  color: white;
  width: 300px;
  height: 60px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-size: 30px;
  outline: none;
}

.popup .payment-show-button__cancel button:active {
  background-color: #a74133;
}

.popup__finish {
  width: 880px;
  height: 1280px;
  background-image: url("/images/pic/pic-0018.jpg");
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.popup__finish-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1100px;
}

.popup__finish-txt p {
  font-size: 25px;
  color: #838383;
  text-align: center;
  padding: 0 10px;
}

.popup__finish-txt p:nth-child(2) {
  width: 50px;
}

.popup__finish-button {
  width: 300px;
  height: 60px;
  text-align: center;
  color: #275e92;
  background-color: white;
  border: 0;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  top: 1150px;
}

.popup__finish-button:active {
  background-color: #b1b1b1;
}

.popup_ad {
  padding: 0;
  background-color: #275e92;
}

.popup_ad svg {
  position: absolute;
  right: 0;
  top: 0;
  width: 110px;
  z-index: 10;
}

.popup_ad svg path {
  stroke-width: 5px;
}

.popup__photo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: none;
}

.popup__photo_show {
  z-index: 5;
  display: block;
}

.popup__photo-img {
  display: block;
  width: 100%;
  height: 35%;
}

.popup__photo-video {
  display: block;
  width: 100%;
  outline: none;
  pointer-events: none;
  height: 30%;
  background-color: #000;
}

.popup__message {
  text-align: center;
  padding: 100px 80px;
  background-color: #fff;
  border-radius: 5px;
}

.popup__message p {
  font-size: 30px;
  color: #636363;
}

#linepay {
    border: 0 none;
    width: 150px;
    text-align: center;
    text-indent: -99em;
    pointer-events: none;
}

#linepay input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#linepay:focus, input:focus {
    outline: none;
}
/*# sourceMappingURL=index.css.map */