﻿<!DOCTYPE html>

<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/include/backend/add-user-data.css" rel="stylesheet" />
    <link href="~/Content/include/backend/head-and-nav.css" rel="stylesheet" />
    <link href="~/Content/include/backend/user-list.css" rel="stylesheet" />
    <link href="~/Content/include/style/reset.css" rel="stylesheet" />
    <link href="~/Content/include/style/jquery.scrollbar.css" rel="stylesheet" />
    <script src="~/Scripts/include/js/jquery-3.5.1.js"></script>
    <script src="~/Scripts/include/js/jquery.scrollbar.min.js"></script>
    <script src="~/Scripts/include/backend/head-and-nav.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="header__name">
            <span>崴得升科技</span>
        </div>
        <ul class="header-right">
            <li class="header-right__item" title="total">
                <i></i>
            </li>
            <li class="header-right__item" title="frontend">
                <i></i>
            </li>
            <li class="header-right__item" title="notice">
                <i></i>
            </li>
            <li class="header-right__user" title="name">
                <i></i>
                <p>Admin</p>
            </li>
            <li class="header-right__item" title="checkOut">
                <i></i>
            </li>
        </ul>
    </header>
    <!-- body -->
    <div class="body">
        <!-- 左側清單 -->
        <div class="body-left">
            <ul class="left-list">
                <li class="left-list__item" onclick="selectclick()">
                    <div class="left-list__item-select">
                        <p>人員管理</p>
                    </div>
                    <ol class="left-list__item-list left-list__item-list_none">
                        <li class="left-list__item-list-option">
                            <p>八八八</p>
                        </li>
                        <li class="left-list__item-list-option">
                            <p>八八八</p>
                        </li>
                        <li class="left-list__item-list-option">
                            <p>八八八</p>
                        </li>
                        <li class="left-list__item-list-option">
                            <p>八八八</p>
                        </li>
                    </ol>
                </li>
                <li class="left-list__item">
                    <div class="left-list__item-select">
                        <p>專案管理</p>
                    </div>
                </li>
                <li class="left-list__item">
                    <div class="left-list__item-select">
                        <p>ＸＸ管理</p>
                    </div>
                </li>
                <li class="left-list__item">
                    <div class="left-list__item-select">
                        <p>ＸＸ管理</p>
                    </div>
                </li>
                <li class="left-list__item">
                    <div class="left-list__item-select">
                        <p>ＸＸ管理</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 右側內容 -->
        <div class="body-right">
            @RenderSection("main", true)
        </div>
    </div>
    @RenderSection("script",false)
</body>
</html>
