﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - 產品陳列</title>
    <link href="~/Content/include/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/include/modern-business.css" rel="stylesheet" />
    <script type="text/javascript" language="javascript" charset="utf-8" src="~/Scripts/include/modern-business.js"></script>
    <script src="~/Scripts/include/jquery/jquery.min.js"></script>
    <style type="text/css">
        #P1 {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }

        #P2 {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
        }
    </style>
</head>
<body>
    <div style="padding-top: 0px;padding-bottom: 0px;" class="container" id="banner">
        <div class="row" id="bannerrow">

            <iframe width="661" height="376"
                    src="https://www.youtube.com/embed/3YFHVekNq98?autoplay=1&mute=1&loop=1&playlist=3YFHVekNq98"
                    frameborder="0" allowfullscreen></iframe>
            <img src="/images/pic/pic-003.png" alt="圓石">

        </div>
    </div>

    <div class="container" id="news">
        <marquee scrollamount="8" style="color: white; font-size:37px;">最新資訊跑馬燈</marquee>
    </div>

    <section>
        <div class="container" id="product">
            <div class="row flex-wrap" style="width: 100%;">
                @RenderSection("Productlist", false)
            </div>
        </div>
    </section>
    <div id="light" class="black_overlay"></div>
    <form id="formbuy" class="border form" action="" method="POST">
        <div class="container" id="formpro" style="width: 928px;">
            <div class="row" style="margin-top: 100px; width: 900px;">
                <div class="col-sm-6">
                    <center>
                        <img id="buypic" class="box-shadow" src="" style="border-radius:20px;"><br><br>
                    </center>
                </div>
                <div class="col-md-6">
                    <label id="buyname"></label><br>
                    <textarea style="border:0px" class="form-control" rows="8" id="discription"></textarea>
                    <p style="font-size:30px ;">
                        售價<input style="border:0 none; width: 150px;text-align: center;"
                                 type="text" id="buyprice" name="buyprice" value="">元
                    </p>
                </div>
            </div>
        </div>
        <div class="container" style="padding-left: 50px;padding-right: 50px;">
            <div class="row" style="width: 828px; margin-top: 100px;">
                <div>
                    <span style="font-size: 45px;">選擇付款方式</span>
                    <hr style="width: 828px;">
                </div>
            </div>
            <div class="row" style="width: 828px;">
                <div class="card" id="pay1">
                    <a onclick="showformpay(1,'crush'); setTimeout('countdown1()', 1000);">
                        <img src="/images/pic/pic-005.png" alt="現金支付">
                    </a>
                </div>
                <div class="card" id="pay2">
                    <a onclick="showformpay(2,'card'); setTimeout('countdown2()', 1000);">
                        <img src="/images/pic/pic-006.png" alt="LINE Pay">
                    </a>
                </div>
                <div class="card" id="pay3">
                    <a onclick="showformpay(3,'card'); setTimeout('countdown2()', 1000);">
                        <img src="/images/pic/pic-007.png" alt="悠遊卡">
                    </a>
                </div>
                <div class="card" id="pay4">
                    <a onclick="showformpay(4,'card'); setTimeout('countdown2()', 1000);">
                        <img src="/images/pic/pic-008.png" alt="台灣Pay">
                    </a>
                </div>
                <div class="card" id="pay5">
                    <a onclick="showformpay(5,'card'); setTimeout('countdown2()', 1000);">
                        <img src="/images/pic/pic-009.png" alt="街口支付">
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-around" style="width: 928px;">
            <h1 id="close_buyform" class="closebtn rounded" onclick="formbuy.style.display='none';
      light.style.display='none'; stopcount();" style="margin-top: 100px;">
                取消
            </h1>
        </div>
    </form>
    <form id="formpay" class="border form" action="/Trans/Salse" target="hideen" method="POST">
        <div class="container" id="formpay1">
            <div class="row justify-content-around" style="width: 928px;">
                <div class="border rounded" style="margin-top: 125px">
                    <img src="/images/pic/pic-005.png" alt="現金支付">
                </div>
            </div>
        </div>
        <div class="container" id="formpay2">
            <div class="row justify-content-around" style="width: 928px;">
                <div class="border rounded" style="margin-top: 125px">
                    <img src="/images/pic/pic-006.png" alt="LINE Pay">
                </div>
            </div>
        </div>
        <div class="container" id="formpay3">
            <div class="row justify-content-around" style="width: 928px;">
                <div class="border rounded" style="margin-top: 125px">
                    <img src="/images/pic/pic-007.png" alt="悠遊卡">
                </div>
            </div>
        </div>
        <div class="container" id="formpay4">
            <div class="row justify-content-around" style="width: 928px;">
                <div class="border rounded" style="margin-top: 125px">
                    <img src="/images/pic/pic-008.png" alt="台灣Pay">
                </div>
            </div>
        </div>
        <div class="container" id="formpay5">
            <div class="row justify-content-around" style="width: 928px;">
                <div class="border rounded" style="margin-top: 125px">
                    <img src="/images/pic/pic-009.png" alt="街口支付">
                </div>
            </div>
        </div>
        <div class="container" id="formpaycrush" style="padding-left: 50px; padding-right: 50px;">
            <div class="row" style="width: 828px; margin-top: 150px;">
                <div>
                    <span id="card1" style="font-size: 45px;">請投入現金</span>
                    <hr style="width: 828px;">
                </div>
            </div>
            <div class="row" style="width: 828px; margin-top: 60px;">
                <div class="col" style="width: 414px;">
                    <p>
                        <h1>
                            購買金額 <span>
                                <input style="border:0 none;width: 150px;text-align: center;" type="text"
                                       disabled id="buyCash" name="buyCash" value="20">
                            </span>
                        </h1>
                    </p><br><br>
                    <p>
                        <h1>
                            已付金額 <span>
                                <input style="border:0 none;width: 150px;text-align: center;" type="text"
                                       disabled id="hasCash" name="hasCash" value="0">
                            </span>
                        </h1>
                    </p><br><br>
                    <p>
                        <h1>
                            未付金額 <span>
                                <input style="border:0 none;width: 150px;text-align: center;" type="text"
                                       disabled id="nonCash" name="nonCash" value="0">
                            </span>
                        </h1>
                    </p><br><br>
                    <p>
                        <h1>
                            應找金額 <span>
                                <input style="border:0 none;width: 150px;text-align: center;" type="text"
                                       disabled id="giveCash" name="giveCash" value="0">
                            </span>
                        </h1>
                    </p>
                    <input id="roadid" name="Road" type="text" hidden value="04" />
                    <input type="text" id="csrf" name="csrf" hidden value="@Session["CSRF_TOKEN"]" />
                    <input type="button" id="buybutton" style="border:0 none;" class="h1 buybtn rounded"
                           onclick="finishpage.style.display = 'block'; salse(); stopcount(); countdown3();" value="購買">
                    <div style="position: absolute; top: 660px;">
                        <span style="font-size: 50px; color: darkgray;">倒數計時<span id="crushpay_timer">60</span>秒</span>
                    </div>
                </div>
                <div class="col" style="width: 414px;">
                    <img src="/images/pic/pic-0016.png">
                </div>
            </div>
        </div>
        <div class="container" id="formpaycard" style="padding-left: 50px; padding-right: 50px;">
            <div class="row" style="width: 828px; margin-top: 150px;">
                <div>
                    <span id="card2" style="font-size: 45px;">LINE Pay付款</span>
                    <span id="card3" style="font-size: 45px;">悠遊卡付款</span>
                    <span id="card4" style="font-size: 45px;">台灣Pay付款</span>
                    <span id="card5" style="font-size: 45px;">街口支付付款</span>
                    <hr style="width: 828px;">
                </div>
            </div>
            <div class="row" style="width: 828px; margin-top: 60px;">
                <div class="col" style="width: 414px;">
                    <p>
                        <h1>
                            購買金額 <span>
                                <input style="border:0 none;width: 150px;text-align: center;" type="text" name="rsbuyCash"
                                       value="">
                            </span>
                        </h1>
                    </p><br><br>
                    <p>
                        <h1>
                            已付金額 <span>
                                <input style="border:0 none;width: 150px;text-align: center;" type="text" name="rshasCash"
                                       value="">
                            </span>
                        </h1>
                    </p><br><br><br>
                    <div style="margin-top: 100px;">
                        <span style="font-size: 50px; color: darkgray;">倒數計時<span id="cardpay_timer">30</span>秒</span>
                    </div>
                </div>
                <div class="col" style="width: 414px;">
                    <img src="/images/pic/pic-0017.png" alt="請靠卡感應"
                         onclick="finishpage.style.display='block';  stopcount(); countdown3()">
                </div>
            </div>
        </div>
        <h1 id="close_paytype" class="closebtn rounded" onclick="formpay.style.display = 'none'; stopcount(); Cashout();">取消</h1>

    </form>
    <iframe id="hideen" name="hideen" target="_self" style="display:none"></iframe>
    <form id="finishpage" class="border form" action="" method="dialog"
          style="background-image: url(/images/pic/pic-0018.jpg);">
        <div class="container " style="width: 500px; height: 400px;position: absolute; top: 1070px; left: 214px;">
            <div class="row justify-content-around" style="width: 470px;">
                <span style="font-size: 40PX; color: darkgray;">倒數計時<span id="finish_timer">30</span>秒</span>
            </div>
            <div class="row justify-content-around" style="width: 470px;">
                <h1 id="close_finish" class="closebtn rounded" onclick="finishpage.style.display='none'; formbuy.style.display='none';
        formpay.style.display='none';light.style.display='none'; stopcount();">
                    返回選單
                </h1>
            </div>
        </div>
    </form>
    <script src="~/Scripts/include/bootstrap/bootstrap.min.js"></script>
</body>
</html>