﻿<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="~/Content/include/style/reset.css">
    <link rel="stylesheet" href="~/Content/include//style/index.css">
    <link href="~/Content/include/style/OverlayScrollbars.css" rel="stylesheet" />
    <script src="~/Scripts/include/config.js"></script>
    <script src="~/Scripts/include/js/jquery-3.5.1.js"></script>
    <script src="~/Scripts/include/js/modern-business.js"></script>
    <script src="~/Scripts/include/js/OverlayScrollbars.js"></script>
    <title>vending machine</title>
</head>
<body oncontextmenu="return false">
    <!-- 控制台button -->
    <a class="home" href="/Backend/Adminlogin">
        <i></i>
    </a>
    <!-- 頭放影片與標題 -->
    <header class="header">
        <video class="header__video" controls="false" style="border:none;width:100%;height:auto;" autoplay loop muted="true">
            <source src="~/video/adbanner.mp4" />
        </video>
        <!--<img src="/images/pic/pic-003.png" alt="">-->
    </header>
    <!-- 跑馬燈 -->
    <nav class="nav">
        <marquee scrollamount="8" class="nav__font">最新資訊跑馬燈</marquee>
    </nav>
    <nav class="nav-time">
        <div class="nav-time__date">
            <p id="time__date"></p>
            <p id="time__clock"></p>
        </div>
        <div class="nav-time__temp">
            <p id="temp"></p>
            <p>˚C</p>
        </div>
    </nav>
    <!-- 商品清單 -->
    <!-- li標籤放body-list__item_sold修飾 表示商品已售完 顯示出第二張圖 並無法點擊 -->
    <div class="body">
        <div class="body-flex">
            <ul class="body-list">
                @RenderSection("Productlist", false)
            </ul>
            <!-- 功能按鈕 -->
            <footer class="footer">
                <button class="footer__button">掃碼取貨</button>
                <button class="footer__button">掃碼寄件</button>
                <button class="footer__button">超商取貨</button>
                <button class="footer__button">訂單查詢</button>
            </footer>
            <!-- 回到最上層按鈕 -->
            <div class="top-button">
                <svg style="width: 50px; height: 50px">
                    <polyline style="stroke-linejoin:miter; stroke:#fff;
                        stroke-width:3; fill: none;"
                              points="10 30,25 20,40 30" />
                </svg>
            </div>
        </div>
    </div>
    <!-- 彈跳視窗 加入popup-show顯示 -->
    <!-- 商品付款方式 -->
    <section class="popup" id="commodity">
        <div class="popup-commodity">
            <div class="commodity-data">
                <img id="buypic" src="/images/pic/pic-004.png" alt="">
                <div class="commodity-data__box">
                    <span id="buyname" class="commodity-data__box-txt">蜂蜜檸檬</span>
                    <textarea name="" id="discription" cols="30" rows="10" readonly>蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬蜂蜜檸檬</textarea>
                    <div class="commodity-data__box-price">
                        <p>售價</p>
                        <p id="buyprice">12</p>
                        <p>元</p>
                    </div>
                </div>
            </div>
            <div class="commodity-pay">
                <p class="commodity-pay__title">選擇付款方式</p>
                <ul class="commodity-pay__list">
                    <li class="commodity-pay__item" onclick="showformpay('cash'); setTimeout('countdown1()', 1000);">
                        <img src="~/images/pic/pic-005.png" alt="">
                    </li>
                    <li class="commodity-pay__item" onclick="showformpay('linePayImg'); setTimeout('countdown2()', 1000);">
                        <img src="~/images/pic/pic-006.png" alt="">
                    </li>
                    <li class="commodity-pay__item commodity-pay__item_noClick">
                        <div class="commodity-pay__item-mask">
                            <p>敬請期待</p>
                        </div>
                        <img src="~/images/pic/pic-007.png" alt="">
                    </li>
                    <li class="commodity-pay__item commodity-pay__item_noClick">
                        <div class="commodity-pay__item-mask">
                            <p>敬請期待</p>
                        </div>
                        <img src="~/images/pic/pic-008.png" alt="">
                    </li>
                    <li class="commodity-pay__item commodity-pay__item_noClick">
                        <div class="commodity-pay__item-mask">
                            <p>敬請期待</p>
                        </div>
                        <img src="~/images/pic/pic-009.png" alt="">
                    </li>
                    <li class="commodity-pay__item commodity-pay__item_noClick">
                        <div class="commodity-pay__item-mask">
                            <p>敬請期待</p>
                        </div>
                        <p style="height: 235px; width: 232px; display: flex; align-items: center; justify-content: center;">請把我當成一卡通</p>
                    </li>
                </ul>
                <button class="commodity-pay__button" id="commodityCancel">取消</button>
            </div>
        </div>
    </section>
    <!-- 商品付款頁面 -->
    <section class="popup" id="formpay">
        <div class="popup-payment">
            <div class="payment-logo">
                <img id="cash" src="~/images/pic/pic-005.png" alt="">
                <img id="linePayImg" src="~/images/pic/pic-006.png" alt="">
                <!-- <img id="formpay3" src="./images/pic-007.png" alt="">
                <img id="formpay4" src="./images/pic-008.png" alt="">
                <img id="formpay5" src="./images/pic-009.png" alt=""> -->
            </div>
            <!-- 付費方式現金與卡片切換 請加“payment-show_way” -->
            <form method="post" class="payment-show" action="/Trans/Salse" target="hideen" id="cashView">
                <p class="payment-show__title">請投入現金</p>
                <div class="payment-show-box">
                    <input id="roadid" name="Road" type="text" hidden value="04" />
                    <ul class="payment-show-box__list">
                        <li class="payment-show-box__list-item">
                            <span>購買金額</span>
                            <p id="buyCash">0</p>
                            <span>元</span>
                        </li>
                        <li class="payment-show-box__list-item">
                            <span>已付金額</span>
                            <p id="hasCash">0</p>
                            <span>元</span>
                        </li>
                        <li class="payment-show-box__list-item">
                            <span>未付金額</span>
                            <p id="nonCash">0</p>
                            <span>元</span>
                        </li>
                        <li class="payment-show-box__list-item">
                            <span>應找金額</span>
                            <p id="giveCash">0</p>
                            <span>元</span>
                        </li>
                    </ul>
                    <input type="text" id="csrf" name="csrf" hidden value="@Session["CSRF_TOKEN"]" />
                    <img src="/images/pic/pic-0016.png" alt="">
                </div>
                <div class="payment-show-button">
                    <div class="payment-show-button__pay">
                        <label for="">
                            <button class="payment-show-button__pay-click payment-show-button__pay-click_none" onclick="salse();" id="buybutton">購買</button>
                        </label>
                        <div class="payment-show-button__pay-time">
                            <p>倒數計時</p>
                            <p id="crushpay_timer">60</p>
                            <p>秒</p>
                        </div>
                    </div>
                    <div class="payment-show-button__cancel">
                        <button id="payCancel" type="button" onclick=" stopcount(); Cashout();">取消</button>
                    </div>
                </div>
            </form>
            <form class="payment-show" id="cardView" action="#">
                <p class="payment-show__title">請感應卡片</p>
                <div class="payment-show-box">
                    <input id="roadid" name="Road" type="text" hidden value="" />
                    <ul class="payment-show-box__list">
                        <li class="payment-show-box__list-item"></li>
                        <li class="payment-show-box__list-item">
                            <span>購買金額</span>
                            <p id="buyCashLine">0</p>
                            <span>元</span>
                        </li>
                        <li class="payment-show-box__list-item">
                            <span id="patment-card-show__status" class="payment-show-box__list-item-txt">麻煩請靠卡~</span>
                            <span><input type="number" id="linepay" onchange="linePay();" name="linepay"></span>
                        </li>
                    </ul>
                    <input type="text" id="csrf" name="csrf" hidden value="@Session["CSRF_TOKEN"]" />
                    <img src="~/images/pic/pic-0017.png" alt="">
                </div>
                <div class="payment-show-button">
                    <div class="payment-show-button__pay payment-show-button__pay_top">
                        <div class="payment-show-button__pay-time">
                            <p>倒數計時</p>
                            <p id="cardpay_timer">30</p>
                            <p>秒</p>
                        </div>
                    </div>
                    <div class="payment-show-button__cancel">
                        <button type="button" onclick="stopcount(); location.href = '/';">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <iframe id="hideen" name="hideen" target="_self" style="display:none"></iframe>
    <!-- 購買完成頁面 -->
    <section class="popup" id="finish">
        <div class="popup__finish">
            <div class="popup__finish-txt">
                <p>倒數計時</p>
                <p id="finish_timer">30</p>
                <p>秒</p>
            </div>
            <button class="popup__finish-button" type="button" onclick="closeBtn();">返回選單</button>
        </div>
    </section>
    <!-- 廣告彈窗 -->
    <section class="popup popup_ad" id="ad">
        <img class="popup__photo popup__photo_show" id="img1" src="~/images/pic/pic-0022.jpg" alt="">
        <div class="popup__photo popup__photo_show" id="img2">
            <img class="popup__photo-img" src="~/images/pic/pic-003.png" alt="">
            <video id="videoPlayer" class="popup__photo-video" src="~/video/adbanner.mp4" controls="false" autoplay muted="true" onended="changeAd()"></video>
            <img class="popup__photo-img" src="~/images/pic/pic-0023.jpg" alt="">
        </div>
        <svg id="close">
            <path d="M 10,10 l 90,90 M 100,10 l -90,90" stroke="black" />
        </svg>
    </section>
    <!-- 廣告圖片彈窗 -->
    <section class="popup popup_ad" id="adPhoto">
        <img class="popup__photo popup__photo_show" src="~/images/pic/pic-0022.jpg" alt="" id="adImg">
        <svg id="closeImg">
            <path d="M 10,10 l 90,90 M 100,10 l -90,90" stroke="black" />
        </svg>
    </section>
    <!-- 提示彈窗 -->
    <section class="popup" id="refund">
        <div class="popup__message">
            <p id="refundTxt">退幣成功</p>
        </div>
    </section>
    <input type="text" hidden id="vmcode" name="vmcode" value="@ViewData["vmcode"]" />
    <input type="text" hidden id="date1" name="date1" value="@DateTime.Now.ToString("yyyy/MM/dd")" />
    <input type="text" hidden id="x" name="x" />
    <input type="text" hidden id="y" name="y" />
</body>
</html>